<template lang="html">
    <main class="view">
        <div class="game-hero">
            <div class="game-hero__content">
                <h1 class="game-hero__title">{{ title }}</h1>
                <div class="game-hero__subtitle" v-if="developer">{{ developer }}</div>
                <div class="game-hero__subtitle" v-if="releaseDateFormatted">{{ releaseDateFormatted }}</div>
                <div class="game-hero__subtitle" v-if="ratingFormatted"><i class="material-icons">star</i> {{ ratingFormatted }}</div>
            </div>
            <img class="game-hero__image" v-bind:src="heroScreenshot" v-if="heroScreenshot">
        </div>
        <div class="action-bar">
            <div class="action-bar__cover-image">
                <img v-bind:src="coverImage" v-if="coverImage">
                <div class="action-bar__cover-placeholder" v-bind:style="{ background: placeholderBackground }" v-else>
                    <i class="material-icons">videogame_asset</i>
                </div>
            </div>

            <!-- Start Non-active / Non-backlogged actions -->
            <div class="action-bar__actions" v-if="!activeRecord">
                <a class="button--flat" v-on:click="addGameRecord('backlog')">
                    <i class="material-icons">library_add</i>Add To Backlog
                </a>
                <a class="button--flat" v-on:click="addGameRecord('active')">
                    <i class="material-icons">add_box</i>Add To Queue
                </a>
            </div>
            <!-- End Non-active / Non-backlogged actions -->

            <!-- Start Non-active / Non-backlogged actions -->
            <div class="action-bar__actions" v-else>
                <a class="button--flat" v-if="false">
                    <i class="material-icons">note</i>Notes
                </a>
                <a class="button--flat" v-on:click="startSession">
                    <i class="material-icons">timer</i>Start Session
                </a>
            </div>
            <!-- End Non-active / Non-backlogged actions -->
        </div>

        <!-- Start Personal Stats -->
        <div class="section" v-if="records.length > 0">
            <h3 class="section__header">Stats</h3>
            <activity-log v-bind:sessions="sessions"></activity-log>
        </div>
        <!-- End Personal Stats -->

        <!-- Start Time To Beat -->
        <div class="section">
            <h3 class="section__header">Time to Beat</h3>
            <table class="section__table">
                <thead>
                    <tr>
                        <th>Style</th>
                        <th>Average</th>
                        <th>Median</th>
                        <th>Fastest</th>
                        <th>Slowest</th>
                        <th>Entries</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Normal</td>
                        <td>{{ timeToBeatFormatted.normal.average }}</td>
                        <td>{{ timeToBeatFormatted.normal.median }}</td>
                        <td>{{ timeToBeatFormatted.normal.shortest }}</td>
                        <td>{{ timeToBeatFormatted.normal.longest }}</td>
                        <td>{{ timeToBeatFormatted.normal.entries }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- End Time To Beat -->

        <!-- Start About -->
        <div class="section" v-if="summary">
            <h3 class="section__header">Summary</h3>
            <p class="section__body">
                {{ summary }}
            </p>
        </div>
        <!-- End About -->

        <!-- Start Global Stats -->
        <div class="section">
            <h3 class="section__header">Global Status</h3>
            <div class="global-status">
                <div class="global-status__highlight">
                    <i class="material-icons">book</i>
                    <div>Backlogged</div>
                    <div>{{ globalStatus.backlog }}</div>
                </div>
                <div class="global-status__highlight">
                    <i class="material-icons">videogame_asset</i>
                    <div>Playing</div>
                    <div>{{ globalStatus.active }}</div>
                </div>
                <div class="global-status__highlight">
                    <i class="material-icons">stars</i>
                    <div>Completed</div>
                    <div>{{ globalStatus.completed }}</div>
                </div>
                <div class="global-status__highlight">
                    <i class="material-icons">cancel</i>
                    <div>Abandoned</div>
                    <div>{{ globalStatus.abandoned }}</div>
                </div>
            </div>
        </div>
        <!-- End Global Stats -->
    </main>
</template>

<script>
// Imports
import Please from 'pleasejs';
import moment from 'moment';
import 'moment-duration-format';
import request from 'superagent/superagent';
import config from '../../js/config/config.js';
import { settings } from '../../js/settings.js';
import Game from '../../js/models/Game.js';
import Record from '../../js/models/Record.js';
import Session from '../../js/models/Session.js';
import ActivityLog from '../components/ActivityLog.vue';

// Component Object
let GameView = {
    // Tag name
    name: 'game-view',

    // Components
    components: {
        ActivityLog
    },

    // Data
    data() { return {
        igdbId: null,
        game: null,
        sessions: [],
        records: [],
    }},

    // Mounted
    mounted() {
        // Parse the query vars
        this.igdbId = this.$route.query.id;

        // Fetch the data
        this.fetchData();
    },

    // Computed
    computed: {
        /**
         * @desc This method will return the title
         * @since Mar 7 2017
         * @returns String
         */
        title() {
            // Try to return title
            try {
                return this.game.title;
            }

            // Catch any exceptions
            catch (ex) {
                return '- -';
            }
        },

        /**
         * @desc This method will return the developer
         * @since Mar 7 2017
         * @returns
         *      String
         *      Bool
         */
        developer() {
            // Try to return developer
            try {
                return this.game.developer;
            }

            // Catch any exceptions
            catch (ex) {
                return false;
            }
        },

        /**
         * @desc This method will return the summary
         * @since Mar 7 2017
         * @returns
         *      String
         *      Bool
         */
        summary() {
            // Try to return summary
            try {
                return this.game.summary;
            }

            // Catch any exceptions
            catch (ex) {
                return false;
            }
        },

        /**
         * @desc This method will returns a formatted rating
         * @since Mar 7 2017
         * @returns
         *      String
         *      Bool
         */
        ratingFormatted() {
            // Try to return developer
            try {
                return this.game.rating.toFixed(1);
            }

            // Catch any exceptions
            catch (ex) {
                return false;
            }
        },

        /**
         * @desc This method will return the active record for this game.
         * @since Mar 7 2017
         * @returns
         *      Record
         *      Bool
         */
        activeRecord() {
            // Try to find the active record
            try {
                // Null the record
                let activeRecord = null;

                // Loop through the records
                for (var i = 0; i < this.records.length; i++) {
                    // If the record is active
                    if (this.records[i].completionStatus == 'active' || this.records[i].completionStatus == 'backlog') {
                        activeRecord = this.records[i];
                    }
                }

                // If record is still null throw exception
                if (!activeRecord) {
                    throw 'There are no active records for this game.';
                }

                // Return the record
                return activeRecord;
            }

            // Catch any exceptions
            catch (ex) {
                return false;
            }
        },

        /**
         * @desc This method returns an object of formatted time to beat.
         * @since Mar 7 2017
         * @returns Object
         */
        timeToBeatFormatted() {
            // Create the default object
            let ttb = {
                normal: {
                    average: '- -',
                    median: '- -',
                    shortest: '- -',
                    longest: '- -',
                    entries: '- -'
                },
                source: null
            };

            // Try to get the time to beat
            try {
                // If we have enough entries
                if (this.game.ttbEntriesNormal >= 50) {
                    ttb.normal.average = moment.duration(this.game.ttbAverageNormal, 'seconds').format('h [hr] m [min]').replace(/\s0\s\w+/g, '');
                    ttb.normal.median = moment.duration(this.game.ttbMedianNormal, 'seconds').format('h [hr] m [min]').replace(/\s0\s\w+/g, '');
                    ttb.normal.shortest = moment.duration(this.game.ttbShortestNormal, 'seconds').format('h [hr] m [min]').replace(/\s0\s\w+/g, '');
                    ttb.normal.longest = moment.duration(this.game.ttbLongestNormal, 'seconds').format('h [hr] m [min]').replace(/\s0\s\w+/g, '');
                    ttb.normal.entries = this.game.ttbEntriesNormal;
                }

                // Else use IGDB's time to beat
                else if (this.game.ttbAverageIGDB) {
                    ttb.normal.average = moment.duration(this.game.ttbAverageIGDB, 'seconds').format('h [hr] m [min]').replace(/\s0\s\w+/g, '');
                    ttb.source = 'IGDB';
                }

                // Return the object
                return ttb;
            }

            // Catch any exceptions
            catch (ex) {
                return ttb;
            }
        },

        /**
         * @desc This method will return ab object for the global status
         *      of a game.
         * @since Mar 8 2017
         * @returns Object
         */
        globalStatus() {
            // Create the default object
            let gs = {
                completed: 0,
                abandoned: 0,
                active: 0,
                backlog: 0
            };

            // Try to get the status for this game
            try {
                // Assign the properties of the global status
                gs.completed = this.game.gsCompleted ? this.game.gsCompleted : 0;
                gs.abandoned = this.game.gsAbandoned ? this.game.gsAbandoned : 0;
                gs.active = this.game.gsActive ? this.game.gsActive : 0;
                gs.backlog = this.game.gsBacklog ? this.game.gsBacklog : 0;

                // Return the global status
                return globalStatus;
            }

            // Catch any exceptions
            catch (ex) {
                return gs;
            }
        },

        /**
         * @desc This method will choose a random screenshot id to be used
         *      for the hero image.
         * @since Jan 18 2017
         * @returns
         *      String
         *      Bool
         */
        heroScreenshot() {
            // Try to create a url to return
            try {
                // If there is no screenshots
                if (this.game.screenshots.length == 0) {
                    throw 'There are no screenshots for this game.';
                }
                // Get random screenshot object
                let screenshot = this.game.screenshots[Math.floor(Math.random() * this.game.screenshots.length)];

                // Build the url from the cloudinary id
                let url = config.igdbImageUrl + 't_screenshot_huge_2x/' + screenshot + '.png';

                // Return the url
                return url;
            }

            // Catch exceptions
            catch (ex) {
                // Return false
                return false;
            }
        },

        /**
         * @desc This method will create a url for the cover image of the game.
         * @since Jan 19 2017
         * @returns
         *      String
         *      Bool
         */
        coverImage() {
            // Try to create a url to return
            try {
                // If there is no cover image throw an exception
                if (!this.game.coverImage) {
                    throw 'There is no cover image for this game.'
                }

                // Build the url from the cloudinary id
                let url = config.igdbImageUrl + 't_cover_big/' + this.game.coverImage + '.png';

                // Return the url
                return url;
            }

            // Catch exceptions
            catch (ex) {
                // Return false
                return false;
            }
        },

        /**
         * @desc This will generate a background gradient for
         *      the placeholder cover.
         * @since Mar 6 2017
         * @returns String
         */
        placeholderBackground() {
            // Create the colors
            let baseColor = Please.make_color({format: 'hsv'});
            let gradientColors = Please.make_scheme(baseColor[0], {scheme_type: 'double', format: 'hex'});

            // Get the angle
            let angle = Math.floor(Math.random() * 360);

            // Return the background as a gradient
            return 'linear-gradient(' + angle + 'deg, ' + gradientColors[0] + ', ' + gradientColors[1] + ')';
        },

        /**
         * @desc This method will get the last release date listed for the game
         *      and it will convert it into a human readable format.
         * @since Jan 19 2017
         * @returns
         *      String
         *      Bool
         */
        releaseDateFormatted() {
            // Try to format the release date
            try {
                // Create a new moment
                let date = moment(this.game.releaseDate);

                // Check if the date is valid
                if (!date.isValid()) {
                    throw 'The date is invalid';
                }

                // Return the date
                return date.format('MMMM D, YYYY');
            }

            // Catch exceptions
            catch (ex) {
                // Return false
                return false;
            }
        },
    },

    // Methods
    methods: {
        /**
         * @desc This method will fetch all the neaded data.
         * @since Mar 7 2017
         * @returns Promise
         */
        fetchData() {
            // Start Loading
            this.$root.$emit('loading', false);

            // Fetch the game
            this.fetchGame().then(() => {
                // Fetch users records for this game
                this.fetchRecords().then(() => {
                    // Fetch sessions for the records
                    this.fetchSessions().then(() => {
                        //End loading
                        this.$root.$emit('loading', false);
                    });
                });
            })

            // Catch any exceptions
            .catch((ex) => {
                // End loading
                this.$root.$emit('loading', false);
            });
        },

        /**
         * @desc This method will fetch the game.
         * @since Mar 7 2017
         * @returns Promise
         */
        fetchGame() {
            // Wrap it all in a nice promise
            let gamePromise = new Promise((resolve, reject) => {
                // Create the query
                let gameQuery = Game.where('igdbId').equals(this.igdbId).first();

                // If a game was found
                gameQuery.then((result) => {
                    this.game = result;
                    resolve();
                })

                // If no game was found query the server and IGDB
                .catch(() => {
                    // If offline reject
                    if (settings()._offlineMode) {
                        reject('Offline and unable to fetch missing data.');
                    }

                    // TODO: Finish fetching for games not auto fetched
                    // Fetch a game by the igdbId
                    Game.sync({ igdbId: this.igdbId }).then((results) => {
                        console.log(results);
                    });
                });
            });

            // Return promise
            return gamePromise;
        },

        /**
         * @desc This method will fetch the records.
         * @since Mar 7 2017
         * @returns Promise
         */
        fetchRecords() {
            // Wrap this is a pretty little promise
            let recordPromise = new Promise((resolve, reject) => {
                // Query the records
                let recordQuery = Record.where('gameId').equals(this.game.gameId).toArray();

                // If records are found
                recordQuery.then((results) => {
                    this.records = results;
                    resolve();
                })

                // Rethrow any exceptions
                .catch((ex) => {
                    throw ex;
                });
            });

            // Return promise
            return recordPromise;
        },

        /**
         * @desc This method will fetch the sessions.
         * @since Mar 7 2017
         * @returns Promise
         */
        fetchSessions() {
            // More nicely wrapped promises
            let sessionPromise = new Promise((resolve, reject) => {
                // Hold an array of all the query promises
                let queries = [];

                // Loop through the records
                this.records.forEach((record) => {
                    // Query this records sessions
                    let sessionQuery = Session.where('recordId').equals(record.recordId).toArray();

                    // Push query to array
                    queries.push(sessionQuery);

                    // If sessions are found
                    sessionQuery.then((results) => {
                        this.sessions = this.sessions.concat(results);
                    })

                    // Rethrow any exceptions
                    .catch((ex) => {
                        throw ex;
                    });
                });

                // When all the queries are complete then resolve
                Promise.all(queries).then(() => {
                    resolve();
                });
            });

            // Return promise
            return sessionPromise;
        },

        /**
         * @desc This method will start the timer for a new session.
         * @since Mar 9 2017
         */
        startSession() {
            console.log(this.activeRecord)
            // Start a session
            this.$root.$emit('new-session', this.activeRecord);
        }
    }
};

// Exports
export default GameView;
</script>

<style lang="scss">
// Imports
@import '~app/src/scss/main';

// game-hero
.game-hero {
    position: relative;
    height: 480px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 0;

    // game-hero__content
    @include element('content') {
        position: relative;
        margin: 0 64px;
        padding: 16px;
        z-index: 2;
    }

    // game-hero__title
    @include element('title') {
        margin-bottom: 8px;
        font-weight: 300;
    }

    // game-hero__subtitle
    @include element('subtitle') {
        font-size: #{$base-font-size + 2};
        margin-bottom: 8px;

        i {
            vertical-align: bottom;
        }
    }

    // game-hero__image
    @include element('image') {
        position: absolute;
        top: 0;
        object-fit: cover;
        height: 100%;
        width: 100%;
        opacity: 0.15;
        z-index: 1;
        pointer-events: none;
        filter: grayscale(100%);
    }
}

//action-bar
.action-bar {
    display: flex;
    width: 100%;
    height: 64px;
    padding: 0 64px;
    background: lighten($color-background, 2);
    box-sizing: border-box;

    // action-bar__cover-image
    @include element('cover-image') {
        position: relative;
        width: 180px;
        height: 100%;
        margin: 0 16px;

        img {
            position: absolute;
            bottom: 0;
            width: 100%;
            transform: translateY(-16px);
            border-radius: 2px;
            @include box-shadow(2);
        }
    }

    // action-bar__cover-placeholder
    @include element('cover-placeholder') {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 210px;
        border-radius: 2px;
        transform: translateY(-16px);
        @include box-shadow(2);

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            color: $color-text-primary;
            font-size: 42px;
            transform: translate(-50%, -50%);
        }
    }

    // action-bar__actions
    @include element('actions') {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        justify-content: flex-end;
    }
}

// section
.section {
    margin: 0 64px;
    padding: 16px;

    // section__header
    @include element('header') {
        font-weight: 300;
    }

    // section__body
    @include element('body') {
        font-weight: 300;
    }

    // section__table
    @include element('table') {
        width: 100%;
        background-color: lighten($color-background, 2);
        border-radius: 2px;
        @include box-shadow(1);
    }
}

// global-status
.global-status {
    display: flex;
    justify-content: space-around;

    // global-status__highlight
    @include element('highlight') {
        display: flex;
        flex: 0 0 25%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        i {
            font-size: 36px;
        }
    }
}
</style>
