<!--
    Purpose: This is the loading view.
    Date: Dec 11 2016
-->
<template lang="html">
    <main class="view--full">
        <div class="loader">
            <transition-group name="loading-message" tag="ul" class="loader__message-container">
                <li class="loader__message loading-message" v-for="message in messages" v-bind:key="message">
                    <div class="loading-message__text">
                        {{ message.text }}
                    </div>
                    <div class="loading-message__source" v-if="message.source">
                        {{ message.source }}
                    </div>
                </li>
            </transition-group>
        </div>
    </main>
</template>

<script>
// Imports
import { settings } from '../../js/settings.js';
import loadingMessages from '../../js/loadingMessages.js';
import Game from '../../js/models/Game.js';
import Record from '../../js/models/Record.js';
import Session from '../../js/models/Session.js';

// Component Object
let LoadingView = {
    // Tag name
    name: 'loading-view',

    // Data
    data() { return {
        redirect: '',
        messages: [],
        possibleMessages: loadingMessages,
        messageInterval: null,
        messageDuration: 2000,
    }},

    // Mounted
    mounted() {
        // Start timed loop for loading messages
        this.messageInterval = setInterval(() => {
            this.appendMessage();
        }, this.messageDuration);

        // Load and redirect to new view
        this.loadData();
    },

    // Before Destroy
    beforeDestroy() {
        // Clear the interval
        clearInterval(this.messageInterval);
    },

    // Methods
    methods: {
        /**
         * @desc This method will increase the message array and trim off any
         *      messages past the threshold.
         * @since May 4 2017
         */
        appendMessage() {
            // Get a random message from the possible messages
            let randomMessage = this.possibleMessages[Math.floor(Math.random() * this.possibleMessages.length)];

            // While the random message is the same as the last one get another message
            while (randomMessage == this.messages[this.messages.length - 1]) {
                randomMessage = this.possibleMessages[Math.floor(Math.random() * this.possibleMessages.length)];
            }

            // Append to the messages array
            this.messages.push(randomMessage);

            // Remove the old message
            setTimeout(() => {
                if (this.messages.length > 1) {
                    this.messages.splice(0, 1);
                }
            }, 0);
        },

        /**
         * @desc This method will handle the loading of data
         * @since May 4 2017
         */
        loadData() {
            // Get the redirection path
            this.redirect = this.$route.query.redirect ? this.$route.query.redirect : '/queue';

            // Get the users data
            let user = settings('_user');

            // Check if the users data exists
            if (user && user.username && user.userId && user.token) {
                // Sync data
                this.syncData().then(() => {
                    this.$router.push(this.redirect);
                })

                .catch((ex) => {
                    // Auth error
                    if (ex && ex.status === 401) {
                        // Create a toast
                        this.$root.$emit('new-toast', 'Login failed.');

                        // Return to login page
                        this.$router.push('/login');
                    }

                    // Server error or unspecified
                    else {
                        // Create a toast
                        this.$root.$emit(
                            'new-toast',
                            'Unable to sync.',
                            'Go Offline',
                            // Change current connection settings
                            () => {
                                // Set offline state
                                this.$root.$emit('offline-mode', true);
                            }
                        );

                        // Proceede to queue page
                        this.$router.push(this.redirect);
                    }
                })
            }

            // Else if no user data exists make them log in
            else {
                this.$router.push('/login');
            }
        },

        /**
         * @desc This method will sync the data between the client and the server
         * @since Mar 2 2017
         * @returns Promise syncPromise
         */
        syncData() {
            // User settings was saved so begin initial sync
            let syncPromise = new Promise((resolve, reject) => {
                if (settings()._offlineMode) {
                    resolve();
                }

                else {
                    // Sync games
                    Game.sync().then(() => {
                        // Sync records
                        Record.sync().then(() => {
                            // Sync sessions
                            Session.sync().then(() => {
                                resolve();
                            })

                            // Rethrow any exception
                            .catch((ex) => {
                                throw(ex);
                            });
                        })

                        // Rethrow any exception
                        .catch((ex) => {
                            throw(ex);
                        });
                    })

                    // Reject any exception
                    .catch((ex) => {
                        reject(ex);
                    });
                }

            });

            // Return the promise
            return syncPromise;
        },
    },
}

// Exports
export default LoadingView;
</script>

<style lang="scss">
// Imports
@import '~app/src/scss/main';

// loader
.loader {
    position: relative;
    text-align: center;

    // loader__message-container
    @include element('message-container') {
        list-style: none;
        width: 100vw;
        text-align: center;
        margin: 0;
        display: flex;
        padding: 0;
        align-content: center;
        justify-content: center;
    }
}

// loading-message
.loading-message {
    position: absolute;
    text-align: center;

    @include element('text') {
        font-size: 24px;
        color: $color-text-primary;
        text-transform: capitalize;
    }

    @include element('source') {
        font-size: 20px;
        color: $color-text-secondary;
    }
}
</style>
