<!--
    Purpose: This the the Login view. It will display the games in the
        users queue.
    Date: Dec 11 2016
-->
<template lang="html">
    <main class="view--form">
        <login-form v-bind:redirect="redirect"></login-form>
    </main>
</template>

<script>
// Imports
import LoginForm from '../components/forms/LoginForm.vue';

// Component Object
let LoginView = {
    // Tag name
    name: 'login-view',

    // Components
    components: {
        LoginForm
    },

    // Data
    data() { return {
        redirect: '/queue'
    }},

    // Life Cycle
    mounted() {
        // If there was a redirect passed
        if (this.$route.query.redirect !== undefined) {
            // Set the redirect
            this.redirect = this.$route.query.redirect;
        }
    },

    // Methods
    Methods: {

    }
};

// Exports
export default LoginView;
</script>
