<template lang="html">
    <main class="view--form">
        <pass-reset-form></pass-reset-form>
    </main>
</template>

<script>
// Imports
import PassResetForm from '../components/forms/PassResetForm.vue';

// Component Object
let PassResetView = {
    // Tag name
    name: 'pass-reset-view',

    // Components
    components: {
        PassResetForm
    },

    // Data
    data() { return {

    }},
};

// Exports
export default PassResetView;
</script>
