<!--
    Purpose: This the the Queue view. It will display the games in the
        users queue.
    Date: Dec 11 2016
-->
<template lang="html">
    <main class="view">
        <game-record-list section-title="Queue">
            <game-record
                v-for="record in activeRecords"
                v-if="record.completionStatus == 'active'"
                slot="game-records"
                v-bind:initial-record="record"></game-record>
        </game-record-list>

        <game-record-list section-title="Finished">
            <game-record
                v-for="record in finishedRecords"
                v-if="record.completionStatus == 'complete' || record.completionStatus == 'abandoned'"
                slot="game-records"
                v-bind:initial-record="record"></game-record>
        </game-record-list>

        <game-record-list section-title="Backlog">
            <game-record
                v-for="record in backloggedRecords"
                v-if="record.completionStatus == 'backlog'"
                slot="game-records"
                v-bind:initial-record="record"></game-record>
        </game-record-list>
    </main>
</template>

<script>
// Imports
import db from  '../../js/db.js';
import Record from '../../js/models/Record.js';
import GameRecordList from '../components/GameRecordList.vue';
import GameRecord from '../components/GameRecord.vue';

// Component Object
let QueueView = {
    // Tag name
    name: 'queue-view',

    // Components
    components: {
        GameRecordList,
        GameRecord
    },

    // Data
    data() { return {
        activeRecords: [],
        finishedRecords: [],
        backloggedRecords: [],
    }},

    // Created
    created() {
        // Listen for refreshing the page
        this.$root.$on('refresh-queue', this.fetchRecords);

        // Listen for database changes on the record table
        db.on('changes', (changes) => {
            // Store bool to track if changes were made
            let recordsUpdated = false;

            // Check if there where changes to the records table
            for (let change of changes) {
                if (change.table == 'records') {
                    recordsUpdated = true;
                    break;
                }
            }

            // Once all changes have been checked fetch records
            if (recordsUpdated) {
                this.fetchRecords();
            }
        })
    },

    // Mounted
    mounted() {
        // Start loading
        this.$root.$emit('loading', true);

        // Fetch game records
        this.fetchRecords().then(() => {
            // End loading when resolved
            this.$root.$emit('loading', false);
        })
        .catch(() => {
            // End loading when error
            this.$root.$emit('loading', false);
        });
    },

    // Methods
    methods: {
        /**
         * @desc This method will fetch the records
         * @since Dec 31 2016
         * @returns Promise
         */
        fetchRecords() {
            // Fetch all the active records
            let activeQuery = Record.where('completionStatus').equals('active').toArray((results) => {
                // If the active records are empty set them to all
                if (this.activeRecords <= 0) {
                    this.activeRecords = results;
                }

                // Loop through results
                for (let record of results) {
                    // Store if the record exits
                    let recordExists = false;

                    for (let activeRecord of this.activeRecords) {
                        // If the record is already in the list break
                        if (record.recordId == activeRecord.recordId || record.gameId == activeRecord.gameId) {
                            recordExists = true;
                            break;
                        }
                    }

                    // If the record exists continue
                    if (recordExists) {
                        continue;
                    }

                    // Else append the record to the list
                    else {
                        this.activeRecords.push(record);
                    }
                }
            });

            // Fetch all the finished records
            let finishedQuery = Record.where('completionStatus').anyOf(['abandoned', 'complete']).toArray((results) => {
                // If the active records are empty set them to all
                if (this.finishedRecords <= 0) {
                    this.finishedRecords = results;
                }

                // Loop through results
                for (let record of results) {
                    // Store if the record exits
                    let recordExists = false;

                    for (let finishedRecord of this.finishedRecords) {
                        // If the record is already in the list break
                        if (record.recordId == finishedRecord.recordId || record.gameId == finishedRecord.gameId) {
                            recordExists = true;
                            break;
                        }
                    }

                    // If the record exists continue
                    if (recordExists) {
                        continue;
                    }

                    // Else append the record to the list
                    else {
                        this.finishedRecords.push(record);
                    }
                }
            });

            // Fetch all the finished records
            let backloggedQuery = Record.where('completionStatus').equals('backlog').toArray((results) => {
                // If the active records are empty set them to all
                if (this.backloggedRecords <= 0) {
                    this.backloggedRecords = results;
                }

                // Loop through results
                for (let record of results) {
                    // Store if the record exits
                    let recordExists = false;

                    for (let backloggedRecord of this.backloggedRecords) {
                        // If the record is already in the list break
                        if (record.recordId == backloggedRecord.recordId || record.gameId == backloggedRecord.gameId) {
                            recordExists = true;
                            break;
                        }
                    }

                    // If the record exists continue
                    if (recordExists) {
                        continue;
                    }

                    // Else append the record to the list
                    else {
                        this.backloggedRecords.push(record);
                    }
                }
            });

            // Return a promise that resolves when all promises are resolved
            return Promise.all([activeQuery, finishedQuery, backloggedQuery]);
        },
    }
};

// Exports
export default QueueView;
</script>
