<template lang="html">
    <main class="view--form">
        <register-form></register-form>
    </main>
</template>

<script>
// Imports
import RegisterForm from '../components/forms/RegisterForm.vue';

// Component Object
let RegisterView = {
    // Tag name
    name: 'register-view',

    // Components
    components: {
        RegisterForm
    },

    // Data
    data() { return {

    }},
};

// Exports
export default RegisterView;
</script>
