<template lang="html">
    <main class="view">
        <form class="search-bar" v-on:submit.prevent="searchGames()">
            <i class="material-icons">search</i>
            <input class="search-bar__input" v-model="search" placeholder="Search" type="text" autofocus>
        </form>
        <search-list section-title="Games">
            <game-result
                v-for="(game, index) in filteredGameSearchResults"
                slot="search-results"
                v-bind:title="game.name"
                v-bind:cover="JSON.stringify(game.cover)"
                v-bind:igdb-id="game.id"
                v-bind:status="game.completionStatus"
                v-bind:index="index">
            </game-result>
            <a
                class="button--flat more-button"
                slot="search-results"
                v-if="filteredGameSearchResults.length > 0"
                v-on:click="paginateSearch">load more
            </a>
        </search-list>
    </main>
</template>

<script>
// Imports
import request from 'superagent/superagent';
import debounce from 'lodash.debounce';
import config from '../../js/config/config.js';
import Game from '../../js/models/Game.js';
import Record from '../../js/models/Record.js';
import SearchList from '../components/SearchList.vue';
import GameResult from '../components/GameResult.vue';

// Component Object
let SearchView = {
    // Tag name
    name: 'search-view',

    // Components
    components: {
        SearchList,
        GameResult
    },

    // Data
    data() { return {
        search: '',
        gameSearchResults: [],
        records: [],
        games: [],
        gamesPerPage: 15,
        pageIndex: 1,
    }},

    // Watcher
    watch: {
        /**
         * @desc search | 500
         */
        search: debounce(function() {
             this.searchGames();
        }, 500),
    },

    // Computed
    computed: {
        /**
         * @desc This method will return an array of search results that have
         *      been modified with data from the users records of games.
         * @since Jan 16 2017
         * @returns Array
         */
        filteredGameSearchResults() {
            // Try to filter the results
            try {
                // Copy the games array
                let results = this.gameSearchResults;

                // Loop through the search results
                for (var i = 0; i < results.length; i++) {
                    // Loop through the users games
                    for (var j = 0; j < this.games.length; j++) {
                        // If the ids don't match skip
                        if (results[i].id != this.games[j].igdbId) {
                            continue;
                        }

                        // Else loop through the records to find this games record
                        for (var k = 0; k < this.records.length; k++) {
                            // If its this record
                            if (this.games[j].gameId == this.records[k].gameId) {
                                results[i].completionStatus = this.records[k].completionStatus;
                            }
                        }
                    }
                }

                // Return modified array
                return results;
            }

            // Catch any exceptions
            catch (ex) {
                return [];
            }
        }
    },

    // Methods
    methods: {
        /**
         * @desc This method will search games and populate the array of games.
         * @since Jan 10 2017
         */
        searchGames() {
            // Start Loading
            this.$root.$emit('loading', true);

            // Fetch users data
            this.fetchData();

            // Build API URI
            let remoteURI = config.igdbUrl + 'games/?fields=*&limit='
                + this.gamesPerPage + '&search=' + encodeURIComponent(this.search);

            // Request to fetch data from Internet Game Database
            let remoteReq = request('GET', remoteURI)
                .set('X-Mashape-Key', config.igdbKey)
                .set('Accept', 'application/json');

            // Response for Remote request
            remoteReq.then((response) => {
                // End loading
                this.$root.$emit('loading', false);

                // Parse the response into an array of games
                this.gameSearchResults = JSON.parse(response.text);
            })

            // Error for Remote request
            .catch((ex) => {
                // End Loading
                this.$root.$emit('loading', false);
            });
        },

        /**
         * @desc This method will load another pages worth of games and add it
         *      to the array of games.
         * @since Jan 15 2017
         */
        paginateSearch() {
            // Start Loading
            this.$root.$emit('loading', true);

            // Fetch users data
            this.fetchData();

            // Iterate the page
            this.pageIndex++;

            // Get the offset
            let offset = this.gamesPerPage * this.pageIndex;

            // Build API URI
            let remoteURI = config.igdbUrl + 'games/?fields=*&limit='
                + this.gamesPerPage + '&offset=' + offset + '&search=' + encodeURIComponent(this.search);

            // Request to fetch data from Internet Game Database
            let remoteReq = request('GET', remoteURI)
                .set('X-Mashape-Key', config.igdbKey)
                .set('Accept', 'application/json');

            // Response for Remote request
            remoteReq.then((response) => {
                // End loading
                this.$root.$emit('loading', false);

                // Append games to the end of the array
                this.gameSearchResults = this.gameSearchResults.concat(JSON.parse(response.text));
            })

            // Error for Remote request
            .catch((ex) => {
                // End Loading
                this.$root.$emit('loading', false);
            });
        },

        /**
         * @desc This method will fetch the data needed to filter the search
         *      results for any games already in the users queue
         * @since Mar 14 2017
         * @returns Promise
         */
        fetchData() {
            // Create a new Promise
            let dataPromise = new Promise((resolve, reject) => {
                // Get the records
                this.fetchRecords().then(() => {
                    // fetch the games
                    this.fetchGames().then(() => {
                        resolve();
                    })

                    // Rethrow any exceptions
                    .catch((ex) => {
                        throw ex;
                    });
                })

                // Reject any exceptions
                .catch((ex) => {
                    reject(ex);
                });
            });

            // Return promise
            return dataPromise;
        },

        /**
         * @desc This method will fetch the the records of the user that
         *      are not finished.
         * @since Mar 14 2017
         * @returns Promise
         */
        fetchRecords() {
            // Query the records
            let recordQuery = Record
                .where('completionStatus')
                .noneOf(['complete', 'abandoned'])
                .toArray();

            // When results found
            recordQuery.then((results) => {
                // Add found results
                this.records = results;
            });

            // Return the query Promise
            return recordQuery;
        },

        /**
         * @desc This method will fetch the games for all the users
         *      non finished records.
         * @since Mar 14 2017
         * @returns Promise
         */
        fetchGames() {
            // Store all the queries
            let queries = [];

            // Loop through each record
            this.records.forEach((record) => {
                // Query for this records game
                let gameQuery = Game
                    .where('gameId')
                    .equals(record.gameId)
                    .first();

                // When result found
                gameQuery.then((result) => {
                    // Push this game to the array of games
                    this.games.push(result);
                });

                // Add the query to the array of queries
                queries.push(gameQuery);
            });

            // Return a promise that resolves when all queries resolve
            return Promise.all(queries);
        },
    }
}

// Exports
export default SearchView;
</script>

<style lang="scss">
// Imports
@import '~app/src/scss/main';

.search-bar {
    position: fixed;
    display: flex;
    left: 50%;
    z-index: 100;
    width: 50%;
    margin: 28px auto;
    padding: 8px 16px;
    background: $color-background-search;
    color: $color-text-primary-dark;
    border-radius: 2px;
    transform: translateX(-50%);
    @include box-shadow(6);

    @include element('input') {
        flex: 1 1 auto;
        padding-left: 16px;
        color: $color-text-primary-dark;
        border: none;
        outline: none;
    }
}

.more-button {
    align-self: center;
}
</style>
