<template lang="html">
    <main class="view">
        <settings-list></settings-list>
    </main>
</template>

<script>
// Imports
import SettingsList from '../components/SettingsList.vue';

// Component Object
let SettingsView = {
    // Tag name
    name: 'settings-view',

    // Components
    components: {
        SettingsList,
    },

    // Data
    data() { return {

    }},
}

// Exports
export default SettingsView;
</script>

<style lang="css">
</style>
