<template lang="html">
    <main class="view">

    </main>
</template>

<script>
// Component Object
let UserView = {
    // Tag name
    name: 'user-view',

    // Data
    data() { return {

    }},
}

// Exports
export default UserView;
</script>

<style lang="css">
</style>
