<!--
    Purpose: This component will display the users icon and handle their
        current online status.
    Date: May 2 2017
-->
<template lang="html">
    <div class="account-preview">
        <router-link class="account-preview__avatar" to="/user" active-class="sidebar__link--active" exact>
            <img src="../../static/images/default-avatar.png">
        </router-link>
        <div class="account-preview__offline-status" v-show="offlineStatus" v-on:click="toggleOfflineStatus">
            <i class="material-icons">fiber_manual_record</i> Offline
        </div>
    </div>
</template>

<script>
// Imports
import { settings } from '../../js/settings.js';

// Component Object
let AccountPreview = {
    // Tag name
    name: 'account-preview',

    // Data
    data() { return {
        offlineStatus: settings()._offlineMode,
    }},

    // Created
    created() {
        // Listen for offline mode request
        this.$root.$on('offline-mode', this.toggleOfflineStatus);
    },

    // Methods
    methods: {
        /**
         * @desc This method will toggle the offline mode state.
         * @since May 2 2017
         * @param Bool | Null newState
         */
        toggleOfflineStatus(newState=null) {
            // Get the current state from the settings
            this.offlineStatus = settings()._offlineMode;

            // If nothing was passed toggle the existing state
            if (newState == null || typeof newState !== 'boolean') {
                this.offlineStatus = !this.offlineStatus;
            }

            // else set it to the passed state
            else {
                this.offlineStatus = newState;
            }

            // Update the settings
            settings('_offlineMode', this.offlineStatus);

            // If we just went online
            if (!this.offlineStatus) {
                // Resync with the API
                this.resync();
            }
        },

        /**
         * @desc This method is called when we refresh the connection and try
         *      to connect to the API after coming from offline mode.
         * @since May 3 2017
         */
        resync() {
            // Get the current path
            let redirectPath = this.$route.path;

            // Go to the loading view and redirect back to the current path
            this.$router.push({
                path: '/loading',
                query: {
                    redirect: redirectPath,
                },
            });
        },
    },
};

// Exports
export default AccountPreview;
</script>

<style lang="scss">
// Imports
@import '~app/src/scss/main';

// account-preview
.account-preview {
    width: 100%;

    // account-preview__avatar
    @include element('avatar') {
        position: relative;
        display: flex;
        height: 56px;
        width: 100%;
        padding: 8px 0;
        justify-content: center;
        align-items: center;
        transition: background 0.175s $curve-deceleration;

        img {
            display: block;
            width: 56px;
            border-radius: 50%;
        }

        // Hover
        &:hover {
            background: $color-divider;
        }
    }

    // account-preview__offline-status
    @include element('offline-status') {
        text-align: center;
        padding: 4px 0;
        cursor: pointer;
        transition: background 0.175s $curve-deceleration;

        i {
            color: $color-invalid;
            vertical-align: middle;
            font-size: 10px;
        }

        // Hover
        &:hover {
            background: $color-divider;
        }
    }
}
</style>
