<template lang="html">
    <div class="account-settings">
        <div class="account-settings__avatar">
            <img src="../../static/images/default-avatar.png">
        </div>
        <div class="account-settings__details" v-if="!editing">
            <h5>Username</h5>
            <div>{{ username }}<span class="account-settings__user-id">#{{ userId }}</span></div>
            <h5>Email</h5>
            <div>{{ email }}</div>
        </div>
        <div class="account-settings__details" v-else>
            <h5>Username</h5>
            <div>{{ username }}<span class="account-settings__user-id">#{{ userId }}</span></div>
            <h5>Email</h5>
            <textfield id="edit-email" class="account-settings__field" label="example@email.com" v-bind:error="(emailValid !== false) ? null : emailErrorMsg" v-model="email"></textfield>
            <h5>New Password</h5>
            <textfield id="edit-password" class="account-settings__field" label="•••••••••" hint="At least 8 characters" v-bind:error="(passwordValid !== false) ? null : passwordErrorMsg" type="password" v-model="password"></textfield>
            <h5>Confirm New Password</h5>
            <textfield id="edit-password-conf" class="account-settings__field" label="•••••••••" hint="At least 8 characters" v-bind:error="(passwordValid !== false) ? null : passwordErrorMsg" type="password" v-model="passwordConf"></textfield>
        </div>
        <div class="account-settings__actions" v-if="!offlineMode">
            <a class="button--color" v-if="!editing" v-on:click="editing = true">Edit</a>
            <a class="button--color" v-else v-on:click="updateAccountSettings()">Save</a>
        </div>
    </div>
</template>

<script>
// Imports
import debounce from 'lodash.debounce';
import request from 'superagent/superagent';
import config from '../../js/config/config.js';
import { settings } from '../../js/settings.js';
import Textfield from './inputs/Textfield.vue';

// Component Object
let AccountSettings = {
    // Tag Name
    name: 'account-settings',

    // Components
    components: {
        Textfield
    },

    // Properties
    props: {
        offlineMode: {
            type: Boolean,
            default: false,
        }
    },

    // Data
    data() { return {
        username: settings('_user').username,
        userId: settings('_user').userId,
        email: settings('_user').email,
        password: '',
        passwordConf: '',
        emailValid: null,
        passwordValid: null,
        emailErrorMsg: '',
        passwordErrorMsg: '',
        editing: false,
    }},

    // Watchers
    watch: {
        /**
         * @desc email | 500ms
         */
        email: debounce(function() {
            this.validateEmail();
        }, 500),

        /**
         * @desc password | 500ms
         */
        password: debounce(function() {
            this.validatePassword();
        }, 500),

        /**
         * @desc password | 500ms
         */
        passwordConf: debounce(function() {
            this.validatePassword();
        }, 500),
    },

    // Methods
    methods: {
        /**
         * @desc This method will update the users account settings if there
         *  are any actual changes, else it'll do nothing. Duh.
         * @since Jun 28 2017
         */
        updateAccountSettings() {
            // Store the form params
            let formParams = {};

            // Check if the email has changed
            if (this.emailValid) {
                formParams.email = this.email;
            }

            // Check if the password has changed
            if (this.passwordValid) {
                formParams.password = this.password;
            }

            // If the params are empty
            if (!('email' in formParams) && !('password' in formParams)) {
                // Create toast
                this.$root.$emit('new-toast', 'Account details were not updated');

                // Set values back to default
                this.email = settings('_user').email;
                this.password = null;
                this.passwordConf = null;
                this.emailValid = null;
                this.passwordValid = null;
                this.emailErrorMsg = '';
                this.passwordErrorMsg = '';

                // Close without changing anything
                this.editing = false;
                return;
            }

            // Get user's auth token
            let token = settings('_user').token;

            // Start loading
            this.$root.$emit('loading', true);

            // Make a request
            let patchRequest = request('PATCH', config.wrapditUrl + 'account')
                .type('form')
                .set('access-token', token)
                .send(formParams);

            // On request complete
            patchRequest.then((response) => {
                // End loading
                this.$root.$emit('loading', false);

                // Create toast
                this.$root.$emit('new-toast', 'Account details updated');

                // Close editing fields
                this.editing = false;
            })

            // Catch exception
            .catch((ex) => {
                // End loading
                this.$root.$emit('loading', false);

                // Create toast
                this.$root.$emit('new-toast', 'There was an issue updating your account');

                // Close editing fields
                this.editing = false;
            });
        },

        /**
         * @desc this method will validate the email address used
         * @since Dec 22 2016
         */
        validateEmail() {
            // If the email matches the required format
            if (this.email.match(/^\S+@\S+$/) !== null || this.email == settings('_user').email) {
                // Start loading
                this.$root.$emit('loading', true);

                // Make a request to check email availability
                let emailReq = request('GET', config.wrapditUrl + 'account')
                    .query({ email: this.email });

                // Response / Error for request
                emailReq.then((response) => {
                    // End loading
                    this.$root.$emit('loading', false);

                    // Set the valid state to true
                    this.emailValid = true;

                }).catch((error) => {
                    // End loading
                    this.$root.$emit('loading', false);

                    // If there is an error response
                    if (error.response != null) {
                        // Set email error message
                        this.emailErrorMsg = 'Email has already been used';
                    }

                    // Else the error is connection based
                    else {
                        this.$root.$emit('new-toast', 'Unable to connect to server');
                    }

                    // Set the valid state to false
                    this.emailValid = false;
                });
            }

            // Else it's invalid
            else {
                this.emailErrorMsg = this.email + ' is not a valid email address';
                this.emailValid = false;
            }
        },

        /**
         * @desc This method will validate the password, make sure it meets
         *      all the requirements.
         * @since Dec 22 2016
         */
        validatePassword() {
            // Check if both passwords are atleast 8 chars
            if ((this.password !== null && this.passwordConf !== null) ||
                (this.password.length >= 8 && this.passwordConf.length >= 8)) {

                // Check if the passwords match
                if (this.password === this.passwordConf) {
                    this.passwordValid = true;
                }

                // Else they are invalid
                else {
                    // Set password error message
                    this.passwordErrorMsg = 'Passwords must match to continue';
                    this.passwordValid = false;
                }
            }

            // Else it's invalid
            else {
                // Set password error message
                this.passwordErrorMsg = 'At least 8 characters';
                this.passwordValid = false;
            }
        },
    }
}

// Exports
export default AccountSettings;
</script>

<style lang="scss">
// Imports
@import '~app/src/scss/main';

// account-settings
.account-settings {
    display: flex;
    padding: 24px 32px;
    box-sizing: border-box;
    border-bottom: 1px solid $color-divider;

    // account-settings__avatar
    @include element('avatar') {
        flex: 0 0 100px;

        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            overflow: hidden;
            border-radius: 50%;
        }
    }

    // account-settings__details
    @include element('details') {
        display: flex;
        padding: 0 16px;
        flex: 1 0 auto;
        flex-direction: column;

        h5 {
            margin: 8px 0 6px 0;
            color: $color-text-secondary;
            font-weight: 400;
        }
    }

    // account-settings__user-id
    @include element('user-id') {
        color: $color-text-secondary;
        margin-left: 8px;
    }

    // account-settings__field
    @include element('field') {
        margin-top: 0;
    }

    // account-settings__actions
    @include element('actions') {
        display: flex;
        flex-direction: column-reverse;
    }
}
</style>
