<template lang="html">
    <div class="activity-log">
        <div class="activity-log__aside">
            <div class="activity-log__header">
                <h3>Activity Log</h3>
            </div>
            <div class="tab-set">
                <a class="tab-set__tab" v-bind:class="{ 'tab-set__tab--active': activeTab == '3month' }" v-on:click="updateChart('3month')">3 Months</a>
                <a class="tab-set__tab" v-bind:class="{ 'tab-set__tab--active': activeTab == '1month' }" v-on:click="updateChart('1month')">1 Month</a>
                <a class="tab-set__tab" v-bind:class="{ 'tab-set__tab--active': activeTab == '1week' }" v-on:click="updateChart('1week')">1 Week</a>
            </div>
            <div class="activity-log__chart">
                <canvas id="session-chart"></canvas>
                <div class="activity-log__chart-navigation">
                    <a class="button--icon" v-on:click="paginateChart('next')"><i class="material-icons">navigate_before</i></a>
                    <a class="button--icon" v-on:click="paginateChart('prev')"><i class="material-icons">navigate_next</i></a>
                </div>
            </div>
        </div>
        <div class="activity-log__sessions">
            <div class="activity-log__sessions-header">
                <span>Date</span>
                <span>Play Time</span>
                <span>Total Time</span>
            </div>
            <div class="activity-log__sessions-list">
                <activity-session
                    v-for="(session, index) in sortedSessions"
                    v-bind:session="session"
                    v-bind:index="index">
                </activity-session>
            </div>
        </div>
    </div>
</template>

<script>
// Imports
import moment from 'moment';
import 'moment-duration-format';
import Chart from 'chart.js';
import Util from '../../js/util/Util.js';
import ActivitySession from './ActivitySession.vue';
import Dropdown from './inputs/Dropdown.vue';

// Component Object
let ActivityLog = {
    // Tag Name
    name: 'activity-log',

    // Components
    components: {
        ActivitySession,
        Dropdown
    },

    // Properties
    props: [
        'sessions',
    ],

    // Data
    data() { return {
        sessionChart: null,
        activeTab: '3month',
        pageIndex: 0,
    }},

    // Created
    created() {
        // Listen for updates to session
        this.$root.$on('update-session', this.updateSession);
    },

    // Mounted
    mounted() {
        // Render the chart
        this.renderChart();
    },

    // Watchers
    watch: {
        /**
         * @desc sessions
         */
        sessions: function() {
            this.updateChart(this.activeTab);
        },
    },

    // Computed
    computed: {
        /**
         * @desc This method will order and add additional data
         *      to the array of sessions.
         * @since Jan 27 2017
         * @returns Array
         */
        sortedSessions() {
            try {
                // The total duration and sessions
                let totalDuration = 0;
                let sessions = this.sessions;

                // Add a property to the object for their unsorted index
                for (var i = 0; i < sessions.length; i++) {
                    sessions[i].unsortedIndex = i;
                }

                // Sort by date
                sessions.sort((a, b) => {
                    var c = new Date(a.date);
                    var d = new Date(b.date);
                    return c-d;
                });

                // Loop through the sessions
                for (var i = 0; i < sessions.length; i++) {
                    // Increase total duration
                    totalDuration += sessions[i].duration;
                    sessions[i].totalDuration = totalDuration;
                }

                // Flip the script (The array actually)
                sessions.reverse();

                // Return the sessions
                return sessions;
            }

            catch (ex) {
                return [];
            }
        }
    },

    // Methods
    methods: {
        /**
         * @desc This method will render the chart.
         * @since Jan 28 2017
         */
        renderChart() {
            // Defining global settings for charts
            Chart.defaults.global.defaultFontColor = 'rgba(255, 255, 255, 0.7)';
            Chart.defaults.global.defaultFontFamily = 'Roboto';
            Chart.defaults.global.elements.rectangle.backgroundColor = '#FF4081';

            // Defining the chart options
            let options = {
                tooltips: {
                    backgroundColor: 'rgba(255, 255, 255, 1)',
                    cornerRadius: 4,
                    displayColors: false,
                    position: 'nearest',
                    caretSize: 0,
                    titleFontColor: 'rgba(0, 0, 0, .87)',
                    bodyFontColor: 'rgba(0, 0, 0, .87)',
                    titleFontFamily: 'Roboto',
                    bodyFontFamily: 'Roboto',
                    yPadding: 8,
                    xPadding: 8,
                    callbacks: {
                        // Format the tooltip
                        label(tooltipItem, data) {
                            // Create a new moment
                            let playtime = moment.duration(tooltipItem.yLabel, 'seconds');

                            // Return a time formatted tool tip
                            return playtime.format('h [hr] m [min]').replace(/\s0\s\w+/g, '');
                        },

                        // Remove the tooltip title
                        title(tooltipItem, data) {
                            return '';
                        }
                    }
                },
                layout: {
                    padding: {
                        bottom: 16
                    }
                },
                legend: {
                    display: false,
                },
                scales: {
                    xAxes: [{
                        gridLines: {
                            tickMarkLength: 8,
                            display: false,
                            drawTicks: true,
                        },
                        barThickness: 16,
                    }],
                    yAxes: [{
                        gridLines: {
                            drawTicks: false,
                            drawBorder: false,
                            color: 'rgba(255, 255, 255, 0.12)',
                        },
                        ticks: {
                            fixedStepSize: 1800,
                            beginAtZero: true,
                            callback(value, index, values) {
                                // Limit the number of ticks
                                if(!(index % parseInt(values.length / 4))) {
                                    // Create a new moment
                                    let playtime = moment.duration(value, 'seconds');

                                    // Return the time
                                    // There is hanging whitespace because I can't pad labels with out having ticks. Which is stupid.
                                    return playtime.format('hh:mm') + '   ';
                                }
                            }
                        }
                    }]
                }
            };

            // Init the chart
            this.sessionChart = new Chart('session-chart', {
                type: 'bar',
                data: this.triMonthData(),
                options: options
            });
        },

        /**
         * @desc This method will generate chart js data for one week.
         * @since Jan 31 2017
         * @param Int weekOffset
         * @param String offsetDirection
         */
        weekData(weekOffset = 0,  offsetDirection = 'prev') {
            // Get current date
            let now = moment();
            if (offsetDirection == 'prev') {
                now.subtract(weekOffset, 'weeks');
            }
            else {
                now.add(weekOffset, 'weeks');
            }

            // Get label
            let label = now.startOf('week').format('MMMM') + ' ' + now.startOf('week').format('Do') + ' - '
                +  now.endOf('week').format('MMMM') + ' ' + now.endOf('week').format('Do');

            // Store the durations
            let data = {
                labels: [label],
                datasets: []
            }

            // Loop through the sessions to find the ones that match our week
            for (var i = 0; i < this.sortedSessions.length; i++) {
                // Create new date from sessions
                let sessionDate = moment(this.sortedSessions[i].date);

                // If in this month
                if (sessionDate.week() == now.week()) {
                    // Create a data entry for this month
                    let dataset = {
                        data: []
                    };

                    // Push the duration to the dataset
                    dataset.data.push(this.sortedSessions[i].duration);

                    // Push the dataset to the data
                    data.datasets.push(dataset);
                }
            }

            // Return the data
            return data;
        },

        /**
         * @desc This method will generate chart js data for one month.
         * @since Jan 28 2017
         * @param Int monthOffset
         * @param String offsetDirection
         */
        monthData(monthOffset = 0,  offsetDirection = 'prev') {
            // Get current date
            let now = moment();
            if (offsetDirection == 'prev') {
                now.subtract(monthOffset, 'months');
            }
            else {
                now.add(monthOffset, 'months');
            }

            // Store the durations
            let data = {
                labels: [now.format('MMMM')],
                datasets: []
            }

            // Loop through the sessions to find the ones that match our month
            for (var i = 0; i < this.sortedSessions.length; i++) {
                // Create new date from sessions
                let sessionDate = moment(this.sortedSessions[i].date);

                // If in this month
                if (sessionDate.month() == now.month()) {
                    // Create a data entry for this month
                    let dataset = {
                        data: []
                    };

                    // Push the duration to the dataset
                    dataset.data.push(this.sortedSessions[i].duration);

                    // Push the dataset to the data
                    data.datasets.push(dataset);
                }
            }

            // Return the data
            return data;
        },

        /**
         * @desc This method will generate chart js data object for three months.
         * @since Jan 30 2017
         * @param Int monthOffset
         * @param String offsetDirection
         */
        triMonthData(monthOffset = 0, offsetDirection = 'prev') {
            // Get current date
            let now = moment();
            if (offsetDirection == 'prev') {
                now.subtract(monthOffset, 'months');
            }
            else {
                now.add(monthOffset, 'months');
            }

            // Store the durations
            let data = {
                labels: [
                    moment(now).subtract(2, 'months').format('MMMM'),
                    moment(now).subtract(1, 'months').format('MMMM'),
                    now.format('MMMM'),
                ],
                datasets: []
            };

            // Temp storage for multi dimentional array
            let durationsMulti = [[], [], []];

            // Loop through the sessions to find the ones that match our month
            for (var i = 0; i < this.sortedSessions.length; i++) {
                // Create new date from sessions
                let sessionDate = moment(this.sortedSessions[i].date);

                // Add to multi dimentional array based on month
                switch (sessionDate.month()) {
                    // Two months ago
                    case moment(now).subtract(2, 'months').month():
                        durationsMulti[0].push(this.sortedSessions[i].duration);
                        break;

                    // One month ago
                    case moment(now).subtract(1, 'months').month():
                        durationsMulti[1].push(this.sortedSessions[i].duration);
                        break;

                    // This month
                    case now.month():
                        durationsMulti[2].push(this.sortedSessions[i].duration);
                        break;

                    // Default
                    default:
                        break

                }
            }

            // Padding out the data so the entries line up
            Util.multiDimenArrayPad(durationsMulti);

            // Loop through the multiDimensional array
            for (var j = 0; j < durationsMulti.length; j++) {
                for (var k = 0; k < durationsMulti[j].length; k++) {
                    // If the dataset doesn't exit create it
                    if (data.datasets[k] == null) {
                        data.datasets[k] = {
                            data: []
                        }
                    }

                    // Assing the data to the dataset
                    data.datasets[k].data[j] = durationsMulti[j][k];
                }
            }

            // Return the data
            return data;
        },

        /**
         * @desc This method will change the data set of the chart.
         * @since Jan 31 2017
         * @param String datasetType
         */
        updateChart(datasetType) {
            // Try to update the chart
            try {
                // Store the new data
                let data;

                // Depending on the datasetType fetch new data
                switch (datasetType.toLowerCase()) {
                    // Data for 1 week
                    case '1week':
                        data = this.weekData();
                        this.activeTab = datasetType;
                        break;

                    // Data for 1 month
                    case '1month':
                        data = this.monthData();
                        this.activeTab = datasetType;
                        break;

                    // Data for 3 months
                    case '3month':
                        data = this.triMonthData();
                        this.activeTab = datasetType;
                        break;

                    // Bail cause its boned son, a.k.a invalid
                    default:
                        throw 'Invalid update. Update method not specified';
                        break;
                }

                // Set the page index back to the start
                this.pageIndex = 0;

                // Assign the data and update
                this.sessionChart.config.data = data;
                this.sessionChart.update();
            }

            // Catch errors such as invalid method or null sessionChart
            catch (ex) {
                return;
            }
        },

        /**
         * @desc This method will page through the charts data.
         * @since Feb 1 2017
         * @param String navDirection
         */
        paginateChart(navDirection = 'prev') {
            try {
                // Depending on the direction increase or decrease the page
                if  (navDirection == 'prev') {
                    this.pageIndex--;
                }
                else {
                    this.pageIndex++;
                }

                // Get the data
                let data;
                switch (this.activeTab) {
                    // Data for 1 week
                    case '1week':
                        data = this.weekData(this.pageIndex);
                        break;

                    // Data for 1 month
                    case '1month':
                        data = this.monthData(this.pageIndex);
                        break;

                    // Data for 3 months
                    case '3month':
                        data = this.triMonthData(this.pageIndex);
                        break;

                    // Bail cause its boned son, a.k.a invalid
                    default:
                        throw 'Invalid update. Update method not specified';
                        break;
                }

                // Assign the data and update
                this.sessionChart.config.data = data;
                this.sessionChart.update();
            }

            // Catch errors such as invalid method or null sessionChart
            catch (ex) {
                return;
            }
        },

        /**
         * @desc This method will update a session.
         * @since Feb 12 2017
         * @param
         *      Int index
         *      Object session
         */
        updateSession(index, session) {
            // Update the values of the session at the passed index
            this.sessions[index].date = session.date;
            this.sessions[index].duration = session.duration;
        }
    }
}

// Exports
export default ActivityLog;
</script>

<style lang="scss">
// Imports
@import '~app/src/scss/main';

.activity-log {
    display: flex;
    width: 100%;
    height: 420px;
    background-color: lighten($color-background, 2);
    border-radius: 2px;
    flex-wrap: wrap;
    overflow: hidden;
    @include box-shadow(1);

    @include element('header') {
        display: flex;
        padding: 16px;
        background-color: darken($color-background, 2);
        align-items: center;
        box-sizing: border-box;
        justify-content: space-between;

        h3 {
            font-weight: 300;
            margin: 0;
        }
    }

    @include element('aside') {
        position: relative;
        flex: 50%;
    }

    @include element('chart') {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 16px;
        box-sizing: border-box;

        canvas {
            transform: translateY(16px);
        }
    }

    @include element('chart-navigation') {
        display: flex;
        align-items: center;
        height: auto;
        justify-content: space-between;
    }

    @include element('sessions') {
        flex: 50%;
        box-sizing: border-box;
        background-color: lighten($color-background, 4);
    }

    @include element('sessions-header') {
        display: flex;
        border-bottom: 1px solid $color-divider;

        span {
            flex: 0 0 28%;
            padding: 16px 18px 12px 18px;
            text-align: right;
            font-weight: normal;
            color: $color-text-secondary;
            box-sizing: border-box;

            &:first-child {
                flex: 0 0 30%;
                text-align: left;
            }
        }
    }

    @include element('sessions-list') {
        height: calc(100% - 50px);
        overflow-y: auto;
    }
}
</style>
