<template lang="html">
    <div class="session-record">
        <!-- Start Static View -->
        <template v-if="!isEditing">
            <span class="session-record__cell">{{ dateFormatted }}</span>
            <span class="session-record__cell">{{ durationFormatted }}</span>
            <span class="session-record__cell">{{ totalDurationFormatted }}</span>
            <span class="session-record__actions">
                <dropdown icon="more_vert" horizontal="right">
                    <a v-on:click="enableEditing">Edit</a>
                    <a>Delete</a>
                </dropdown>
            </span>
        </template>
        <!-- En Static View -->

        <!-- Start Editing View -->
        <template v-else>
            <span class="session-record__cell--edit">
                <datepicker v-bind:id="'record-date-' + index" label="Date" v-model="editDate"></datepicker>
            </span>
            <span class="session-record__cell--edit">
                <textfield v-bind:id="'record-hours-' + index" class="session-record__durationfield" label="Hr" v-model="editHours"></textfield>
                <textfield v-bind:id="'record-minutes-' + index" class="session-record__durationfield" label="Min" v-model="editMinutes"></textfield>
            </span>
            <span class="session-record__cell">{{ totalDurationFormatted }}</span>
            <span class="session-record__actions">
                <a class="button--icon" v-on:click="saveChanges"><i class="material-icons">check</i></a>
            </span>
        </template>
    </div>
</template>

<script>
// Imports
import moment from 'moment';
import 'moment-duration-format';
import Session from '../../js/models/Session.js';
import Dropdown from './inputs/Dropdown.vue';
import Textfield from './inputs/Textfield.vue';
import Datepicker from './inputs/Datepicker.vue';

// Component Object
let ActivitySession = {
    // Tag Name
    name: 'activity-session',

    // Components
    components: {
        Dropdown,
        Textfield,
        Datepicker,
    },

    // Properties
    props: [
        'session',
        'index',
    ],

    // Data
    data() { return {
        isEditing: false,
        datePicker: null,
        editDate: null,
        editHours: null,
        editMinutes: null,
    }},

    // Mounted
    mounted() {
    },

    // Computed
    computed: {
        /**
         * @desc This method will convert the duration into a human readable
         *      play time value.
         * @since Jan 28 2017
         * @returns String
         */
        durationFormatted() {
            try {
                // Create a new moment
                let playtime = moment.duration(this.session.duration, 'seconds');

                // Return the time
                return playtime.format('h [hr] m [min]').replace(/\s0\s\w+/g, '');
            }

            catch (ex) {
                return '- -';
            }
        },

        /**
         * @desc This method will convert the total duration into a human readable
         *      play time value.
         * @since Jan 28 2017
         * @returns String
         */
        totalDurationFormatted() {
            try {
                // Create a new moment
                let playtime = moment.duration(this.session.totalDuration, 'seconds');

                // Return the time
                return playtime.format('h [hr] m [min]').replace(/\s0\s\w+/g, '');
            }

            catch (ex) {
                return '- -';
            }
        },

        /**
         * @desc This method will convert the iso date into a human readable
         *      date value.
         * @since Jan 28 2017
         * @returns String
         */
        dateFormatted() {
            try {
                // Create a new moment
                let date = moment(this.session.date);

                // Check if the date is valid
                if (!date.isValid()) {
                    throw 'The date is invalid';
                }

                // Return the date
                return date.format('MM/DD/YYYY');
            }

            catch (ex) {
                return '- -'
            }
        },
    },

    // Methods
    methods: {
        /**
         * @desc This method handles the set up for the editing the values
         *      for the session record.
         * @since Feb 3 2017
         */
        enableEditing() {
            // Creating a new moment
            let playtime = moment.duration(this.session.duration, 'seconds');

            // Calculating the model data
            this.editDate = this.session.date;
            this.editHours = Math.floor(playtime.asHours());
            this.editMinutes = Math.floor(playtime.subtract(this.editHours, 'hours').asMinutes());

            // Enable editing
            this.isEditing = true;
        },

        /**
         * @desc This method will save the changes made when editing.
         * @since Feb 12 2017
         */
        saveChanges() {
            // Set the changes to the session
            this.session.date = this.editDate;
            this.session.duration = moment.duration()
                .add(parseInt(this.editHours), 'hours')
                .add(parseInt(this.editMinutes), 'minutes')
                .asSeconds();

            // Save the changes
            let savePromise = this.session.save({ serverMethod: 'PATCH' });

            // On save
            savePromise.then(() => {
                // Create a success toast
                this.$root.$emit('new-toast', 'Session updated');
            })

            // Catch saving exceptions
            .catch((ex) => {
                // Create a failure toast
                this.$root.$emit(
                    'new-toast',
                    'Unable to sync.',
                    'Go Offline',
                    // Change current connection settings
                    () => {
                        // Set offline state
                        this.$root.$emit('offline-mode', true);
                    }
                );
            });

            // Disable editing
            this.isEditing = false;
        },
    }
}

// Exports
export default ActivitySession;
</script>

<style lang="scss">
// Imports
@import '~app/src/scss/main';

// session-record
.session-record {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $color-divider;

    // session-record__cell
    @include element('cell') {
        flex: 1 0 25%;
        padding: 12px 18px;
        text-align: right;
        font-weight: 300;
        color: $color-text-primary;
        box-sizing: border-box;

        &:first-child {
            text-align: left;
        }

        // session-record__cell--edit
        @include modifier('edit') {
            display: flex;
            justify-content: space-between;

            // Remove margin from Textfields
            .textfield {
                margin: 0;
            }
        }
    }

    // session-record__durationfield
    @include element('durationfield') {
        flex: 0 0 calc(50% - 4px);
    }

    // session-record__actions
    @include element('actions') {
        flex: 0 1 auto;
        padding: 4px 18px;
        text-align: right;
    }
}
</style>
