<!--
    Purpose: This is the component that holds the view router and
        top level components.
    Date: Dec 11 2016
-->
<template lang="html">
    <div id="app-root" class="app">
        <sidebar></sidebar>
        <keep-alive exclude="loading-view">
            <router-view></router-view>
        </keep-alive>
        <toast-list></toast-list>
        <loading-bar></loading-bar>
        <timer></timer>
    </div>
</template>

<script>
// Imports
import ToastList from './ToastList.vue';
import Sidebar from './Sidebar.vue';
import LoadingBar from './LoadingBar.vue';
import Timer from './Timer.vue';

// Component Object
let AppRoot = {
    // Tag name
    name: 'app-root',

    // Components
    components: {
        ToastList,
        Sidebar,
        LoadingBar,
        Timer
    },

    // Data
    data() { return {

    }},

    // Methods
    Methods: {

    }
};

// Exports
export default AppRoot;
</script>

<style lang="scss">
// Imports
@import '~app/src/scss/main';

.app {
    position: relative;
    display: flex;
    height: 100vh;
}
</style>
