<template lang="html">
    <div class="game-record-list">
        <div class="game-record-list__header">
            <h3>{{ sectionTitle }}</h3>
            <dropdown icon="sort" horizontal="right">
                <a>Name</a>
                <a>Time Left</a>
                <a>Duration</a>
                <hr />
                <a>Large Cards</a>
                <a>Small Cards</a>
                <a>List</a>
            </dropdown>
        </div>
        <slot name="game-records">
            <div class="game-record-list__placeholder">
                <p>
                    You have no {{ sectionTitle.toLowerCase() }} games
                </p>
                <i class="material-icons">videogame_asset</i>
            </div>
        </slot>
    </div>
</template>

<script>
// Imports
import Dropdown from './inputs/Dropdown.vue';

// Component Object
let GameRecordList = {
    // Tag name
    name: 'game-record-list',

    // Components
    components: {
        Dropdown
    },

    // Porperties
    props: [
        'sectionTitle',
    ],

    // Data
    data() { return {

    }},
};

// Exports
export default GameRecordList;
</script>

<style lang="scss">
// Imports
@import '~app/src/scss/main';

.game-record-list {
    display: flex;
    width: calc(100% - 128px);
    margin: 0 64px 32px 64px;
    flex-direction: column;
    justify-content: center;

    @include element('header') {
        display: flex;
        margin-left: 16px;
        margin-right: 16px;
        align-items: center;
        justify-content: space-between;

        h3 {
            font-weight: 300;
        }
    }

    @include element('placeholder') {
        margin: 16px;
        text-align: center;
        font-size: #{$base-font-size * 1.3};
        color: $color-divider;

        i {
            font-size: #{$base-font-size * 2.3};
        }
    }
}
</style>
