<template lang="html">
    <router-link class="game-record" v-bind:to="{ path: 'game', query: { id: this.igdbId }}">
        <div class="game-record__cover-image">
            <img v-bind:src="coverImageURL" v-if="coverImageURL && !coverImageError" v-on:error="coverImageError = true">
            <div class="game-record__cover-placeholder" v-bind:style="{ background: placeholderBackground }" v-else>
                <i class="material-icons">videogame_asset</i>
            </div>
        </div>
        <!-- End Cover Placeholder -->
        <div class="game-record__content">
            <div class="game-record__header">
                <h3>{{ title }}</h3>
                <dropdown icon="more_vert" horizontal="right">
                    <a>Complete</a>
                    <a>Abandon</a>
                    <a>Backlog</a>
                    <hr />
                    <a>Remove</a>
                </dropdown>
            </div>
            <p class="game-record__play-time"><i class="material-icons">access_time</i> {{ playTimeFormatted }} {{ ttbFormatted }}</p>
            <div class="game-record__progress">
                <div class="game-record__loading-bar" v-if="loading"></div>
                <div class="game-record__progress-bar" v-else v-bind:style="{ width: completionPercentage + '%' }"></div>
            </div>
            <div class="game-record__actions">
                <a class="button--flat" v-if="false">
                    <i class="material-icons">note</i>Notes
                </a>
                <a class="button--flat" v-on:click.stop.prevent="startSession" v-bind:disabled="loading">
                    <i class="material-icons">timer</i>Start Session
                </a>
            </div>
        </div>
    </router-link>
</template>

<script>
// Imports
import Please from 'pleasejs';
import moment from 'moment';
import 'moment-duration-format';
import config from '../../js/config/config.js';
import { settings } from '../../js/settings.js';
import db from  '../../js/db.js';
import Game from '../../js/models/Game.js';
import Session from '../../js/models/Session.js';
import Dropdown from './inputs/Dropdown.vue';

// Component Object
let GameRecord = {
    // Tag name
    name: 'game-record',

    // Components
    components: {
        Dropdown
    },

    // Properties
    props: [
        'initialRecord',
    ],

    // Data
    data() { return {
        record: this.initialRecord,
        game: null,
        sessions: [],
        loading: true,
        coverImageError: false
    }},

    // Created
    created() {
        // Listen for database changes on the session table
        db.on('changes', (changes) => {
            // Store bool to track if changes were made
            let sessionsUpdated = false;

            // Check if there where changes to this game record
            for (let change of changes) {
                // If there was a change to the sessions table
                if (change.table == 'sessions') {
                    sessionsUpdated = true;
                    break;
                }
            }

            // Once all changes have been checked fetch records
            if (sessionsUpdated) {
                this.fetchSessions();
            }
        })
    },

    // Mounted
    mounted() {
        this.fetchGame();
        this.fetchSessions();
    },

    // Computed
    computed: {
        /**
         * @desc This method will create a url for the cover image of the game.
         * @since Jan 19 2017
         * @returns
         *      String
         *      Bool
         */
        coverImageURL() {
            // Try to create a url to return
            try {
                // If there is no cover image throw an exception
                if (!this.game.coverImage) {
                    throw 'There is no cover image for this game.'
                }

                // Build the url from the cloudinary id
                let url = config.igdbImageUrl + 't_cover_big/' + this.game.coverImage + '.png';

                // Return the url
                return url;
            }

            // Catch exceptions
            catch (ex) {
                // Return false
                return false;
            }
        },

        /**
         * @desc This method will return the title or an empty state string
         * @since Mar 6 2017
         * @returns String
         */
        title() {
            // Try to return the games title
            try {
                return this.game.title;
            }

            // Catch exceptions
            catch (ex) {
                return '- -';
            }
        },

        /**
         * @desc This method will return the play time of this record.
         * @since Mar 6 2017
         * @returns Int
         */
        playTime() {
            // Fetch the total play time
            try {
                // Store the total
                let playTime = 0;

                // Loop through the sessions
                this.sessions.forEach((session) => {
                    playTime += session.duration;
                });

                return playTime;
            }

            // Catch exceptions
            catch (ex) {
                return 0;
            }
        },

        /**
         * @desc This method will return the time to beat for this game.
         * @since Mar 6 2017
         * @returns Int
         */
        timeToBeat() {
            // Return the time to beat
            try {
                // If we have enough entries
                if (this.game.ttbEntriesNormal >= 50) {
                    return this.game.ttbAverageNormal;
                }

                // If we don't have enough entries return IGDB time to beat
                else if (this.game.ttbAverageIGDB) {
                    return this.game.ttbAverageIGDB;
                }

                // Else if neither throw an error
                else {
                    throw 'Unable to provide a time to beat.';
                }
            }

            // Catch exceptions
            catch (ex) {
                return 0;
            }
        },

        /**
         * @desc This method will convert the play time into a String
         * @since Jan 23 2017
         * @returns String
         */
        playTimeFormatted() {
            // Try and format to string
            try {
                // Create a moment Instance
                let duration = moment.duration(this.playTime, 'seconds');

                // Format the string and remove trailing empty minutes
                let durationString = duration.format('h [hr] m [min]').replace(/\s0\s\w+/g, '');

                // Return the string
                return durationString;
            }

            // Catch exceptions
            catch (ex) {
                // Return empty string
                return '- -';
            }
        },

        /**
         * @desc This method will convert the time to beat into a String
         * @since Jan 23 2017
         * @returns String
         */
        ttbFormatted() {
            // Try and format to string
            try {
                // If the time to beat is zero or null throw and exception
                if (this.timeToBeat == null || this.timeToBeat <= 0) {
                    throw 'The number has no need to be Formatted as it is empty.';
                }

                // If the user is finished with the game
                if (this.game.completionStatus == 'complete' || this.game.completionStatus == 'abandoned') {
                    throw 'Game is complete and requires no time to beat.';
                }

                // Create a moment Instance
                let duration = moment.duration(this.timeToBeat, 'seconds');

                // Format the string and remove trailing empty minutes
                let durationString = '/ ' + duration.format('h [hr] m [min]').replace(/\s0\s\w+/g, '');

                // Return the string
                return durationString;
            }

            // Catch exceptions
            catch (ex) {
                // Return empty string
                return '';
            }
        },

        /**
         * @desc This method will calculate the completion percentage.
         * @since Jan 23 2017
         * @returns
         *      Int
         */
        completionPercentage() {
            // Try and perform the calculation
            try {
                // If the user is finished with the game return a full completion percentage
                if (this.game.completionStatus == 'complete' || this.game.completionStatus == 'abandoned') {
                    return 100;
                }

                // Find the percentage
                return ((this.playTime / this.timeToBeat) * 100);
            }

            // Catch exceptions
            catch (ex) {
                // Return zero
                return 0;
            }
        },

        /**
         * @desc This will generate a background gradient for
         *      the placeholder cover.
         * @since Mar 6 2017
         * @returns String
         */
        placeholderBackground() {
            // Create the colors
            let baseColor = Please.make_color({format: 'hsv'});
            let gradientColors = Please.make_scheme(baseColor[0], {scheme_type: 'double', format: 'hex'});

            // Get the angle
            let angle = Math.floor(Math.random() * 360);

            // Return the background as a gradient
            return 'linear-gradient(' + angle + 'deg, ' + gradientColors[0] + ', ' + gradientColors[1] + ')';
        },

        /**
         * @desc This method will return the IGDB ID for the game.
         * @since Mar 7 2017
         * @returns Int
         */
        igdbId() {
            // Try and get the id
            try {
                return this.game.igdbId;
            }

            // Catch any exceptions
            catch (ex) {
                return null;
            }
        }
    },

    // Methods
    methods: {
        /**
         * @desc This method will fetch the data for the game.
         * @since Jan 6 2017
         */
        fetchGame() {
            // Get game for this record
            Game.where('gameId').equals(this.record.gameId).first((result) => {
                this.game = result;

                // If online fetch more data
                if (!settings()._offlineMode) {
                    this.game.syncIGDB().then(() => {
                        console.log(this.game);
                    })

                    .catch((ex) => {
                        console.warn(ex);
                    });
                }
            });
        },

        /**
         * @desc This method will fetch the data for the records session.
         * @since Jan 6 2017
         */
        fetchSessions() {
            // Get game for this record
            Session.where('recordId').equals(this.record.recordId).toArray((results) => {
                this.sessions = results;
                this.loading = false;
            });
        },

        /**
         * @desc This method will emit an event that will begin a timer
         *      to be used for creating a new session.
         * @since Feb 20 2017
         */
        startSession() {
            // Start a session
            this.$root.$emit('new-session', this.record);
        },
    }
}

// Exports
export default GameRecord;
</script>

<style lang="scss">
// Imports
@import '~app/src/scss/main';

.game-record {
    display: flex;
    height: 196px;
    width: calc(100% - 32px);
    padding: 16px;
    margin: 32px 16px 16px 16px;
    color: $color-text-primary;
    flex-wrap: wrap;
    border-radius: 4px;
    box-sizing: border-box;
    background: lighten($color-background, 2);
    @include box-shadow(2);

    // game-record__cover-image
    @include element('cover-image') {
        position: relative;
        flex: 0 0 140px;
        margin-right: 16px;
        box-sizing: border-box;

        img {
            display: block;
            position: absolute;
            width: 100%;
            height: calc(100% + 32px);
            object-fit: cover;
            object-position: center;
            transform: translateY(-32px);
            border-radius: 2px;
            @include box-shadow(2);
        }

    }

    // game-record__cover-placeholder
    @include element('cover-placeholder') {
        display: block;
        position: absolute;
        width: 100%;
        height: calc(100% + 32px);
        object-fit: cover;
        object-position: center;
        transform: translateY(-32px);
        border-radius: 2px;
        @include box-shadow(2);

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            color: $color-text-primary;
            font-size: 42px;
            transform: translate(-50%, -50%);
        }
    }

    // game-record__content
    @include element('content') {
        display: flex;
        flex: 1 1 calc(100% - 180px);
        box-sizing: border-box;
        flex-wrap: wrap;
    }

    // game-record__header
    @include element('header') {
        display: flex;
        width: 100%;
        justify-content: space-between;

        h3 {
            flex: 100%;
            margin: 0;
            font-weight: 300;
            color: $color-text-primary;
        }
    }

    // game-record__play-time
    @include element('play-time') {
        flex: 100%;

        i {
            vertical-align: bottom;
        }
    }

    // game-record__progress
    @include element('progress') {
        flex: 100%;
        position: relative;
        flex: 100%;
        width: 100%;
        height: 4px;
        margin: 16px 0;
        overflow-x: hidden;
        background-color: lighten($color-background, 12);
    }

    // game-record__progress-bar
    @include element('progress-bar') {
        position: absolute;
        height: 4px;
        margin: 0;
        background: linear-gradient(270deg, $color-accent, adjust-hue($color-accent, -30deg));
        background-size: 200% 200%;
        border-right: 4px solid lighten($color-background, 2);
        transition: 0.175s $curve-standard;
        animation: gradient-flow 15s $curve-acceleration infinite;
    }

    // game-record__loading-bar
    @include element('loading-bar') {
        position: absolute;
        top: 0;
        left: 0;
        height: 4px;
        width: 100%;
        transform-origin: left center;
        margin: 0;
        background: linear-gradient(270deg, $color-accent, adjust-hue($color-accent, -30deg));
        background-size: 200% 200%;
        animation: running-loading 2s $curve-standard infinite,
            gradient-flow 15s $curve-acceleration infinite;
    }

    // game-record__actions
    @include element('actions') {
        display: flex;
        flex: 100%;
        align-items: flex-end;
        justify-content: flex-end;

        a {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}
</style>
