<template lang="html">
    <div class="game-result">
        <router-link class="game-result__cover-image" v-bind:to="{ path: 'game', query: { id: igdbId }}">
            <img v-bind:src="coverImageURL" v-if="coverImageURL && !coverImageError" v-on:error="coverImageError = true">
            <div class="game-result__cover-placeholder" v-else v-bind:style="{ background: placeholderBackground }">
                <i class="material-icons">videogame_asset</i>
            </div>
        </router-link>
        <router-link class="game-result__title" v-bind:to="{ path: 'game', query: { id: igdbId }}">
            {{ title }}
        </router-link>
        <div class="game-result__actions">
            <!-- Backlog Button -->
            <a class="button--icon" v-on:click="addRecord('backlog')" v-if="completionStatus != 'active' && completionStatus != 'backlog'">
                <i class="material-icons">library_add</i>
            </a>
            <a class="button--icon game-result__active-action" v-else-if="completionStatus == 'backlog'">
                <i class="material-icons">collections_bookmark</i>
            </a>
            <a class="button--icon" v-else-if="completionStatus == 'active'" disabled>
                <i class="material-icons">library_add</i>
            </a>
            <!-- Backlog Button -->

            <!-- Queue Button -->
            <a class="button--icon" v-on:click="addRecord('active')" v-if="completionStatus != 'active' && completionStatus != 'backlog'">
                <i class="material-icons">add_box</i>
            </a>
            <a class="button--icon game-result__active-action" v-else-if="completionStatus == 'active'">
                <i class="material-icons">check_box</i>
            </a>
            <a class="button--icon" v-else-if="completionStatus == 'backlog'" disabled>
                <i class="material-icons">add_box</i>
            </a>
            <!-- Queue Button -->
        </div>
    </div>
</template>

<script>
// Imports
import request from 'superagent/superagent';
import Please from 'pleasejs';
import config from '../../js/config/config.js';
import Game from '../../js/models/Game.js';
import Record from '../../js/models/Record.js';

// Component Object
let GameResult = {
    // Tag name
    name: 'game-result',

    // Properties
    props: [
        'cover',
        'title',
        'igdbId',
        'status',
        'index'
    ],

    // Data
    data() { return {
        game: null,
        coverImageError: false,
        completionStatus: ''
    }},

    // Mounted
    mounted() {
        // Set the completionStatus
        this.completionStatus = this.status;
    },

    // Watcher
    watch: {
        /**
         * @desc status
         */
        status: function() {
            this.completionStatus = this.status;
        }
    },

    // Computed
    computed: {
        /**
         * @desc This method will return the cover image url.
         * @returns
         *      String
         *      Bool
         */
        coverImageURL() {
            // Try to parse the JSON
            try {
                // Parse the data
                let coverObject = JSON.parse(this.cover);

                // Build the url from the cloudinary id
                let url = config.igdbImageUrl + 't_thumb/' + coverObject.cloudinary_id + '.png';

                // Return thumbnail url
                return url;
            }

            // Catch parse errors
            catch (ex) {
                // Return false so we can use a css place holder
                return false;
            }
        },

        /**
         * @desc This will generate a background gradient for
         *      the placeholder cover.
         * @since Mar 6 2017
         * @returns String
         */
        placeholderBackground() {
            // Create the colors
            let baseColor = Please.make_color({format: 'hsv'});
            let gradientColors = Please.make_scheme(baseColor[0], {scheme_type: 'double', format: 'hex'});

            // Get the angle
            let angle = Math.floor(Math.random() * 360);

            // Return the background as a gradient
            return 'linear-gradient(' + angle + 'deg, ' + gradientColors[0] + ', ' + gradientColors[1] + ')';
        }
    },

    // Methods
    methods: {
        /**
         * @desc This method will add the game record to the users account.
         * @since Jan 15 2017
         * @param String status
         */
        addRecord(status) {
            // Start loading
            this.$root.$emit('loading', true);

            // Query for the game
            let gameQuery = Game.where('igdbId').equals(this.igdbId).first();

            // On query complete
            gameQuery.then((result) => {
                // Assign the game
                let game = result

                // Store potential promise
                let potentialPromises = [];

                // If no game was found create an entry for it
                if (!game) {
                    // Create a new game
                    game = new Game({
                        igdbId: this.igdbId,
                        title: this.title,
                    });

                    // Save the game
                    let savePromise = game.save({serverMethod: 'POST'});

                    // Add to the potential promises
                    potentialPromises.push(savePromise);
                }

                // Wait for any potential promises
                Promise.all(potentialPromises).then((results) => {
                    // Create a new record
                    let record = new Record({
                        gameId: game.gameId,
                        completionStatus: status,
                    });

                    // Create arguments for saving the record
                    let recordArgs = {};
                    recordArgs.serverMethod = 'POST';

                    // If the game id is synced with the server
                    if (Number.isInteger(game.gameId)) {
                        recordArgs.serverMethod = 'POST';
                    }

                    // Save the record
                    let savePromise = record.save(recordArgs);

                    // Once save is completed
                    savePromise.then(() => {
                        // End loading
                        this.$root.$emit('loading', false);

                        // Change the visual completion status
                        this.completionStatus = status;

                        // Create a toast
                        this.$root.$emit(
                            'new-toast',
                            'Game added to library',
                            'View Games',
                            // Link to the queue page
                            () => {
                                this.$router.push('/queue');
                            }
                        );
                    })

                    // Rethrow any exceptions
                    .catch((ex) => {
                        throw(ex);
                    });
                })

                // Rethrow any exceptions
                .catch((ex) => {
                    throw(ex);
                });
            })

            // Catch any exceptions
            .catch((ex) => {
                // Create a toast
                this.$root.$emit('new-toast', 'There was an issue adding the game to your library.');
            });
        },
    }
}

// Exports
export default GameResult;
</script>

<style lang="scss">
// Imports
@import '~app/src/scss/main';

.game-result {
    position: relative;
    display: flex;
    margin: 0 16px;
    align-items: center;

    @include element('cover-image') {
        padding: 16px;

        img {
            display: block;
            width: 64px;
            border-radius: 50%;
        }
    }

    @include element('cover-placeholder') {
        display: flex;
        width: 64px;
        height: 64px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: $color-text-primary;

        i {
            font-size: 36px;
        }
    }

    @include element('title') {
        padding: 16px 0;
        flex: 1 0 auto;
        color: $color-text-primary;
    }

    @include element('active-action') {
        color: $color-accent !important;

        // Disable background
        &:hover, &:focus, &:active {
            color: $color-accent;
            background: none;
        }
    }
}
</style>
