<!--
    Purpose: This component will be a loading indicator for the application.
    Date: Dec 18 2016
-->
<template lang="html">
    <div class="loading-bar" v-show="isLoading"></div>
</template>

<script>
// Component Object
let LoadingBar = {
    // Tag name
    name: 'loading-bar',

    // Data
    data() { return {
        isLoading: false,
    }},

    // Life Cycle
    created() {
        // Listen for loading request
        this.$root.$on('loading', this.toggleLoading);
    },

    // Methods
    methods: {
        /**
         * @desc This method will toggle the state of the app loading.
         * @since Dec 18 2016
         * @param Bool | Null newState
         */
        toggleLoading(newState=null) {
            // If nothing was passed then toggle the current state
            if (newState == null) {
                this.isLoading = !this.isLoading;
            }

            // Else something was passed so set it to the explicit choice
            else {
                this.isLoading = newState;
            }
        },
    }
};

// Exports
export default LoadingBar;
</script>

<style lang="scss">
// Imports
@import '~app/src/scss/main';

.loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    overflow-x: hidden;
    margin: 0;
    background-color: lighten($color-background, 12);
    z-index: 200;

    &:after {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        height: 4px;
        width: 100%;
        margin: 0;
        background: linear-gradient(270deg, $color-accent, adjust-hue($color-accent, -30deg));
        background-size: 200% 200%;
        animation: running-loading 2s $curve-standard infinite,
            gradient-flow 15s $curve-acceleration infinite;
    }
}
</style>
