<template lang="html">
    <div class="search-list">
        <div class="search-list__header">
            <h3>{{ sectionTitle }}</h3>
            <dropdown icon="sort" horizontal="right">
                <a>Name</a>
                <a>Release Date</a>
                <a>Rating</a>
            </dropdown>
        </div>
        <slot name="search-results">
            <div class="search-list__placeholder">
                <p>
                    Start typing to search for games
                </p>
                <i class="material-icons">search</i>
            </div>
        </slot>
    </div>
</template>

<script>
// Imports
import Dropdown from './inputs/Dropdown.vue';

// Component Object
let SearchList = {
    // Tag name
    name: 'search-list',

    // Components
    components: {
        Dropdown
    },

    // Porperties
    props: [
        'sectionTitle',
    ],

    // Data
    data() { return {

    }},
}

// Exports
export default SearchList;
</script>

<style lang="scss">
// Imports
@import '~app/src/scss/main';

.search-list {
    display: flex;
    width: calc(100% - 128px);
    margin: 96px 64px 32px 64px;
    flex-direction: column;
    justify-content: center;

    @include element('header') {
        display: flex;
        margin-left: 16px;
        margin-right: 16px;
        align-items: center;
        justify-content: space-between;

        h3 {
            font-weight: 300;
        }
    }

    @include element('placeholder') {
        margin: 16px;
        text-align: center;
        font-size: #{$base-font-size * 1.3};
        color: $color-divider;

        i {
            font-size: #{$base-font-size * 2.3};
        }
    }
}
</style>
