<template lang="html">
    <a class="setting-item" v-on:click="toggleSetting()" v-on-clickaway="clickAwayHide">
        <div class="setting-item__text">
            <div class="setting-item__label">{{ label }}</div>
            <div v-if="description" class="setting-item__description">{{ description }}</div>
        </div>

        <!-- Toggle Input -->
        <div v-if="type.toLowerCase() == 'toggle'" class="setting-item__input">
            <toggle v-bind:id="encodeURIComponent(label) + '-toggle'" v-model="value"></toggle>
        </div>

        <!-- Dropdown Input -->
        <div v-if="type.toLowerCase() == 'select'" class="setting-item__input">
            <dropdown v-bind:label="value.toString()" v-bind:toggled="toggleDropdown">
                <a v-for="option in options" v-on:click.stop.prevent="selectSetting(option)">{{ option }}</a>
            </dropdown>
        </div>
    </a>
</template>

<script>
// Imports
import { mixin as clickaway } from 'vue-clickaway';
import { settings } from '../../js/settings.js';
import Toggle from './inputs/Toggle.vue';
import Dropdown from './inputs/Dropdown.vue';

// Component Object
let SettingItem = {
    // Tag Name
    name: 'setting-item',

    // Components
    components: {
        Toggle,
        Dropdown
    },

    // Properties
    props: {
        settingsKey: {
            type: String,
            default: null,
        },
        type: {
            type: String,
            default: 'toggle',
        },
        label: {
            type: String,
            required: true,
        },
        desc: {
            type: String,
            default: null,
        }
    },

    // Data
    data() { return {
        value: null,
        description: null,
        options: [],
        toggleDropdown: false,
    }},

    // Mixins
    mixins: [ clickaway ],

    // Created
    created() {
        // Assign description
        this.description = this.desc;
        
        // Assign the current value of the setting based on the type
        switch (this.type) {
            // Toggle
            case 'toggle':
                // If there is no settings key fail
                if (this.settingsKey === null) {
                    throw('A key is required for this type of SettingsItem');
                }

                // Set the current setting's value
                this.value = settings(this.settingsKey);
                break;

            // Select
            case 'select':
                // If there is no settings key fail
                if (this.settingsKey === null) {
                    throw('A key is required for this type of SettingsItem');
                }

                // If the setting's with this key does not have the require props
                if (settings(this.settingsKey).options === null) {
                    throw('Option properties are required for this type of SettingsItem');
                }

                // Set the current setting's value
                this.value = settings(this.settingsKey).selected;
                this.options = settings(this.settingsKey).options;
                break;

            // Link
            case 'link':
                break;
        }
    },

    // Watchers
    watch: {
        /**
         * @desc value
         */
        value: function(val, oldVal) {
            // If the old value was not null
            if (oldVal !== null) {
                // On value change update setting
                this.updateSetting(this.value);
            }
        },
    },

    // Methods
    methods: {
        /**
         * @desc This method will run when the setting is clicked.
         * @since May 30 2017
         */
        toggleSetting() {
            // If the setting is a bool
            if (this.type.toLowerCase() == 'toggle') {
                // If there is no predefined value toggle the current one
                this.value = !this.value;
            }

            // Else toggle the dropdown
            else {
                this.toggleDropdown = !this.toggleDropdown;
            }
        },

        /**
         * @desc This method will select the new value from the dropdown
         * @since Jun 1 2017
         */
        selectSetting(value) {
            // Set the value to the new passed value
            this.value = value;

            // Set the description to the selected value
            this.description = value;

            // Close the menu
            this.hideDropdown();
        },

        /**
         * @desc This method will update the setting and emit a change event
         * @since Feb 7 2017
         * @param String value
         */
        updateSetting(value) {
            // Update the setting in local storage
            switch (this.type) {
                // Toggle
                case 'toggle':
                    settings(this.settingsKey, this.value);
                    break;

                // Select
                case 'select':
                    settings(this.settingsKey, {
                        selected: this.value,
                        options: settings(this.settingsKey).options
                    });
                    break;
            }

            // Set the new value as the selected dates iso
            let newValue = value;

            // If the changes haven't already been applied then do it
            if (newValue !== value) {
                this.$refs.input.value = newValue;
            }

            // Emit the new value through the input event
            this.$emit('change', newValue);
        },

        /**
         * @desc This method will close the dropdown menu.
         * @since Jun 1 2017
         */
        clickAwayHide() {
            this.toggleDropdown = false;
        }
    },
}

// Exports
export default SettingItem;
</script>

<style lang="scss">
// Imports
@import '~app/src/scss/main';

// setting-item
.setting-item {
    display: flex;
    width: 100%;
    padding: 0 32px;
    box-sizing: border-box;
    border-bottom: 1px solid $color-divider;

    // Last Setting
    &:nth-last-child(1) {
        border-bottom: none;
    }

    // setting-item__text
    @include element('text') {
        padding: 24px 0;
        flex: 1 0 calc(100% - 64px);
    }

    // setting-item__label
    @include element('label') {
        color: $color-text-primary;
        font-size: 18px;
    }

    // setting-item__description
    @include element('description') {
        color: $color-text-secondary;
        margin-top: 8px;
    }

    // setting-item__input
    @include element('input') {
        display: flex;
        min-width: 64px;
        flex-grow: 0;
        align-items: center;
        justify-content: center;

        // Toggle
        .toggle {
            margin: 0;
        }
    }
}
</style>
