<template lang="html">
    <div class="settings-list">
        <nav class="settings-list__tab-set">
            <a class="settings-list__tab" v-bind:class="{ 'settings-list__tab--active': activeTab == 0 }" v-on:click="activeTab = 0">
                User Account
            </a>
            <a class="settings-list__tab" v-bind:class="{ 'settings-list__tab--active': activeTab == 1 }" v-on:click="activeTab = 1">
                Queue
            </a>
            <a class="settings-list__tab" v-bind:class="{ 'settings-list__tab--active': activeTab == 2 }" v-on:click="activeTab = 2">
                Display
            </a>
            <a class="settings-list__tab" v-bind:class="{ 'settings-list__tab--active': activeTab == 3 }" v-on:click="activeTab = 3">
                Other
            </a>
        </nav>

        <!-- User Account Settings -->
        <section class="settings-list__group" v-bind:class="{ 'settings-list__group--active': activeTab == 0 }">
            <account-settings v-bind:offline-mode="offlineMode"></account-settings>
            <setting-item label="Log out" desc="This will clear your local data" type="link" v-on:click.native="clearLocalData()"></setting-item>
            <setting-item settings-key="_offlineMode" label="Offline mode" type="toggle" v-on:change="toggleOfflineMode"></setting-item>
        </section>
        <!-- Queue Settings -->
        <section class="settings-list__group" v-bind:class="{ 'settings-list__group--active': activeTab == 1 }">
            <setting-item settings-key="queueMaxSize" label="Max queued games" type="select"></setting-item>
        </section>
        <!-- Display Settings -->
        <section class="settings-list__group" v-bind:class="{ 'settings-list__group--active': activeTab == 2 }">
            <setting-item settings-key="theme" label="Theme" type="select"></setting-item>
            <setting-item settings-key="displayAds" label="Show ads" desc="Delete Tristan's income" type="toggle"></setting-item>
        </section>
        <!-- Other Settings -->
        <section class="settings-list__group" v-bind:class="{ 'settings-list__group--active': activeTab == 3 }">
            <setting-item label="Report a bug" type="link" v-on:click.native=""></setting-item>
            <setting-item label="Privacy policy" type="link" v-on:click.native=""></setting-item>
            <setting-item label="Support us" desc="Dosh! Grab it while you can, lads." type="link" v-on:click.native=""></setting-item>
        </section>
    </div>
</template>

<script>
// Imports
import db from  '../../js/db.js';
import { settings, resetDefaultSettings } from '../../js/settings.js';
import SettingItem from './SettingItem.vue';
import AccountSettings from './AccountSettings.vue';

// Component Object
let SettingsList = {
    // Tag Name
    name: 'settings-list',

    // Components
    components: {
        SettingItem,
        AccountSettings
    },

    // Data
    data() { return {
        activeTab: 0,
        testBool: false,
        offlineMode: null,
    }},

    // Created
    created() {
        this.offlineMode = settings('_offlineMode');
    },

    // Methods
    methods: {
        /**
         * @desc This method will clear the dexie js and user settings
         * @since May 31 2017
         */
        clearLocalData() {
            // Init an array to store the promises
            let tableClearPromises = [];

            // Loop through the database tables
            for (let table of db.tables) {
                // If the table is protected skip it
                if (table.name.charAt(0) == '_') {
                    continue;
                }

                // create a promise to clear the table
                tableClearPromises.push(table.clear());
            }
            // Clear the database data
            Promise.all(tableClearPromises).then(() => {
                // Reset the users settings
                resetDefaultSettings();

                // Return to the login page
                this.$router.push('/login');

                // Display completion toast
                this.$root.$emit('new-toast', 'Local data has been deleted');
            })

            // Catch any errors
            .catch((ex) => {
                console.error(ex);
                // Display error toast
                this.$root.$emit('new-toast', 'Unable to delete local data');
            });
        },

        /**
         * @desc This method will toggle the offline mode based on the settings value
         * @since Jun 1 2017
         * @param Bool value
         */
        toggleOfflineMode(value) {
            // Setting the offline mode
            this.offlineMode = value;

            // Emit the offline mode change
            this.$root.$emit('offline-mode', value);
        },
    },
}

// Exports
export default SettingsList;
</script>

<style lang="scss">
// Imports
@import '~app/src/scss/main';

// settings-list
.settings-list {
    display: flex;
    width: 100%;
    min-height: 100%;
    flex-direction: row;

    // settings-list__tab-set
    @include element('tab-set') {
        flex: 240px;
        min-height: 100%;
        background: $color-background;
    }

    // settings-list__tab
    @include element('tab') {
        position: relative;
        display: flex;
        height: 64px;
        width: 100%;
        padding: 0 64px;
        align-items: center;
        box-sizing: border-box;
        color: $color-text-disable;
        transition: background 0.175s $curve-deceleration;

        i {
            font-size: 24px
        }

        // Hover
        &:hover {
            background: $color-divider;
        }

        // settings-list__tab--active
        @include modifier('active') {
            color: $color-text-primary;

            // Indicator
            &::after {
                position: absolute;
                content: '';
                top: 0;
                right: 0;
                left: auto;
                height: 100%;
                width: 4px;
                background: linear-gradient(270deg, $color-accent, adjust-hue($color-accent, -25deg));
                background-size: 200% 200%;
                animation: gradient-flow 15s $curve-acceleration infinite;
            }
        }
    }

    // settings-list__group
    @include element('group') {
        display: none;
        flex: calc(100% - 240px);
        min-height: 100%;
        background: lighten($color-background, 2);
        box-sizing: border-box;

        // settings-list__group--active
        @include modifier('active') {
            display: block;
        }
    }
}
</style>
