<!--
    Purpose: This is the sidebar component. It has the links for navigation
        throught hte application.
    Date: Dec 16 2016
-->
<template lang="html">
    <nav class="sidebar">
        <account-preview></account-preview>
        <router-link class="sidebar__link" to="/queue" active-class="sidebar__link--active" exact>
            <i class="material-icons">videogame_asset</i>
        </router-link>
        <router-link class="sidebar__link" to="/search" active-class="sidebar__link--active" exact>
            <i class="material-icons">search</i>
        </router-link>
        <router-link class="sidebar__link--bottom" to="/settings" active-class="sidebar__link--active" exact>
            <i class="material-icons">settings</i>
        </router-link>
    </nav>
</template>

<script>
// Imports
import AccountPreview from './AccountPreview.vue';

// Component object
let Sidebar = {
    // Tag name
    name: 'sidebar',

    // Components
    components: {
        AccountPreview
    },

    // Data
    data() { return {

    }}
};

// Exports
export default Sidebar;
</script>

<style lang="scss">
// Imports
@import '~app/src/scss/main';

// sidebar
.sidebar {
    position: relative;
    display: flex;
    width: 96px;
    background: darken($color-background, 2);
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    // sidebar__link
    @include element('link') {
        position: relative;
        display: flex;
        height: 64px;
        width: 100%;
        justify-content: center;
        align-items: center;
        color: $color-text-disable;
        transition: background 0.175s $curve-deceleration;

        i {
            font-size: 24px
        }

        // Hover
        &:hover {
            background: $color-divider;
        }

        // sidebar__link--bottom
        @include modifier('bottom') {
            position: absolute;
            bottom: 0;
            border-top: 1px solid $color-divider;
        }

        // sidebar__link--active
        @include modifier('active') {
            color: $color-text-primary;

            // Indicator
            &::after {
                position: absolute;
                content: '';
                top: 0;
                right: 0;
                left: auto;
                height: 100%;
                width: 4px;
                background: linear-gradient(270deg, $color-accent, adjust-hue($color-accent, -25deg));
                background-size: 200% 200%;
                animation: gradient-flow 15s $curve-acceleration infinite;
            }
        }
    }
}
</style>
