<template lang="html">
    <div class="timer-wrapper">
        <!-- Start Floating Action Button -->
        <a class="timer-fab" v-on:click="showList = !showList" v-show="!showTimer">
            <i class="material-icons" v-if="!showList">timer</i>
            <i class="material-icons" v-else>close</i>
        </a>
        <ul class="timer-fab__list" v-show="showList && !showTimer">
            <li class="timer-fab__list-item--games">
                <router-link v-bind:to="{ path: 'queue' }">
                    <i class="material-icons">videogame_asset</i>
                </router-link>
                <span>Games</span>
            </li>
            <li class="timer-fab__list-item" v-for="(record, index) in records">
                <!-- Start Cover Image -->
                <a v-on:click="$root.$emit('start-session', record)" v-if="games[index] && games[index].coverImage">
                    <img v-bind:src="'https://images.igdb.com/igdb/image/upload/t_thumb/' + games[index].coverImage + '.png'" />
                </a>
                <!-- End Cover Image -->

                <!-- Start Placeholder Image -->
                <a v-on:click="$root.$emit('start-session', record)" v-bind:style="{ background: placeholderBackground }" v-else>
                    <i class="material-icons">videogame_asset</i>
                </a>

                <!-- End Placeholder Image -->
                <span v-if="games[index] && games[index].title">
                    {{ games[index].title }}
                </span>
            </li>
        </ul>
        <!-- End Floating Action Button -->

        <!-- Start Timer -->
        <div class="timer" v-show="showTimer">
            <div class="timer__counter">
                {{ elapsedTimeFormatted }}
                <span class="timer__seconds">{{ elapsedSecFormatted }}</span>
            </div>
            <div class="timer__actions">
                <a class="timer__button" v-on:click="stopTimer" v-if="isTiming"><i class="material-icons">pause</i></a>
                <a class="timer__button" v-on:click="startTimer" v-else><i class="material-icons">play_arrow</i></a>
                <a class="timer__button" v-on:click="addSession"><i class="material-icons">check</i></a>
                <a class="timer__button" v-on:click="hideTimer"><i class="material-icons">close</i></a>
            </div>
            <div class="timer__title" v-if="title">
                {{ title }}
            </div>
        </div>
        <!-- End Timer -->
    </div>
</template>

<script>
// Imports
import Please from 'pleasejs';
import moment from 'moment';
import 'moment-duration-format';
import { settings } from '../../js/settings.js';
import Game from '../../js/models/Game.js';
import Record from '../../js/models/Record.js';
import Session from '../../js/models/Session.js';

// Component Object
let Timer = {
    // Tag Name
    name: 'timer',

    // Data
    data() { return {
        records: [],
        games: [],
        recordHistory: [],
        showList: false,
        showTimer: false,
        isTiming: false,
        timerInterval: null,
        startTime: null,
        activeRecord: null,
        activeGame: null,
        recordHistoryLimit: 4,
        elapsedTime: 0,
        previousTime: 0,
    }},

    // Created
    created() {
        // Listen for new toasts
        this.$root.$on('new-session', this.newSession);
    },

    // Mounted
    mounted() {
        // Fetch existing records
        this.fetchRecords().then(() => {
            // Once records are found get their matching games
            this.fetchGames();
        });
    },

    // Computed
    computed : {
        /**
         * @desc This method will return the title of the active record.
         * @since Mar 10 2017
         * @returns
         *      String
         *      Bool
         */
        title() {
            // Try to get the title
            try {
                return this.activeGame.title;
            }

            // Catch any exceptions
            catch (ex) {
                return false
            }
        },

        /**
         * @desc This method will return a formatted time for the elapsed time.
         * @since Feb 18 2017
         * @returns String
         */
        elapsedTimeFormatted() {
            // Try to return a formatted string for the duration
            try {
                return moment.duration(this.elapsedTime).format('hh:mm', { trim: false });
            }

            // Return a default empty state
            catch (ex) {
                return '00:00';
            }
        },

        /**
         * @desc This method will return a formatted seconds for the elapsed time.
         * @since Feb 18 2017
         * @returns String
         */
        elapsedSecFormatted() {
            // Try to return a formatted string for the duration
            try {
                // Create a new moment for only seconds
                let duration = moment.duration(((this.elapsedTime / 1000) % 60), 'seconds');

                // Remove its hours and minutes

                // Return Remaining seconds
                return duration.format('ss');
            }

            // Return a default empty state
            catch (ex) {
                return '00';
            }
        },

        /**
         * @desc This method will return a pleasing color for the background
         *     of a game results place holder icon.
         * @since Jan 12 2017
         * @returns String
         */
        placeholderBackground() {
            return Please.make_color();
        }
    },

    // Methods
    methods: {
        /**
         * @desc This method will show of the timer.
         * @since Feb 18 2017
         */
        displayTimer() {
            // Clear any existing timers
            this.stopTimer();

            // Show the timer
            this.showTimer = true;

            // Start tracking the timer
            this.startTimer();
        },

        /**
         * @desc This method will hide the timer.
         * @since Feb 20 2017
         */
        hideTimer() {
            // Show the timer
            this.showTimer = false;

            // Stop tracking the timer
            this.stopTimer();

            // Clear the elapsed timer and previous time
            this.elapsedTime = 0;
            this.previousTime = 0;
        },

        /**
         * @desc This method will start the timer and increase the elasped time.
         * @since Feb 18 2017
         */
        startTimer() {
            // Change the is timing flag
            this.isTiming = true;

            // Get start time
            this.startTime = Date.now();

            // Create timed loop
            this.timerInterval = setInterval(() => {
                // Calculate delta time
                this.elapsedTime += Date.now() - this.startTime - this.elapsedTime + this.previousTime;
            }, 100);
        },

        /**
         * @desc This method will clear the timer loop and stop increasing
         *      the elapsed time.
         * @since Feb 18 2017
         */
        stopTimer() {
            // Change the is timing flag
            this.isTiming = false;

            // Clear the timed loop
            clearInterval(this.timerInterval);

            // Get previous time
            this.previousTime = this.elapsedTime;
        },

        /**
         * @desc This method will fetch the records matching the history.
         * @since Mar 10 2017
         * @returns Promise
         */
        fetchRecords() {
            // Set the record history
            this.recordHistory = settings('_recordHistory');

            // Store an array of the queries
            let queries = [];

            // Loop through the record ids
            this.recordHistory.forEach((recordId) => {
                // Query for a record with a matching record id
                let recordQuery = Record.where('recordId').equals(recordId).first();

                // On record query complete
                recordQuery.then((result) => {
                    this.records.push(result);
                });

                // Add the queries to the array of queries
                queries.push(recordQuery);
            });

            // Return a promise that resolves when queries finish
            return Promise.all(queries);
        },

        /**
         * @desc This method will fetch the games matching the records in history
         * @since Mar 13 2017
         * @returns Promise
         */
        fetchGames() {
            // Store an array of the queries
            let queries = [];

            // Loop through the records
            this.records.forEach((record) => {
                // Query for a matching game
                let gameQuery = Game.where('gameId').equals(record.gameId).first();

                // On record query complete
                gameQuery.then((result) => {
                    this.games.push(result);
                });

                // Add the queries to the array of queries
                queries.push(gameQuery);
            });

            // Return a promise that resolves when queries finish
            return Promise.all(queries);
        },

        /**
         * @desc This method will start a new session for the passed record.
         * @since Feb 20 2017
         * @param
         *      Record record
         */
        newSession(record) {
            // If not record break
            if (!record) {
                return;
            }

            // Attempt to append the record
            this.appendHistory(record);

            // Set the active record
            this.activeRecord = record;

            // Query for the active game
            Game.where('gameId').equals(record.gameId).first((result) => {
                this.activeGame = result;
            });

            // Start and display the timer
            this.displayTimer();
        },

        /**
         * @desc This method will push a new record id into the history
         * @since Feb 21 2017
         * @param Record record
         */
        appendHistory(record) {
            // Check if the records id already exists in the history
            for (var i = 0; i < this.recordHistory.length; i++) {
                if (this.recordHistory[i] == record.recordId) {
                    return;
                }
            }

            // Add the record to the history and the list of records
            this.recordHistory.push(record.recordId);
            this.records.push(record);

            // Find the game then append it
            Game.where('gameId').equals(record.gameId).first((result) => {
                this.games.push(result);
            });

            // If the exiting records are larger then the limit trim it
            if (this.recordHistory.length > this.recordHistoryLimit) {
                this.recordHistory.splice(0, 1);
            }
            if (this.records.length > this.recordHistoryLimit) {
                this.records.splice(0, 1);
            }
            if (this.games.length > this.recordHistoryLimit) {
                this.games.splice(0, 1);
            }

            // Save the record history
            settings('_recordHistory', this.recordHistory);
        },

        /**
         * @desc This method will add a new session from the timers elapsed time.
         * @since Feb 21 2017
         */
        addSession() {
            // Stop the timer
            this.stopTimer();

            // Create a new session
            let session = new Session({
                recordId: this.activeRecord.recordId,
                duration: Math.floor(this.elapsedTime / 1000),
            });

            // Save the session
            let savePromise = session.save({ serverMethod: 'POST' });

            // On save
            savePromise.then((response) => {
                // Display successful message
                this.$root.$emit('new-toast', 'Session added');

                // Hide the timer
                this.hideTimer();
            })

            // Catch any exceptions when saving
            .catch((ex) => {
                // If it was a server issue
                if (ex && ex.status) {
                    // Display error message
                    this.$root.$emit(
                        'new-toast',
                        'Unable to sync session with server.',
                        'Go Offline',
                        // Change current connection settings
                        () => {
                            // Set offline state
                            this.$root.$emit('offline-mode', true);
                        }
                    );
                }

                // Else it failed to save locally
                else {
                    // Display error message
                    this.$root.$emit(
                        'new-toast',
                        'Unable to save session'
                    );
                }
            })
        },
    }
}

// Exports
export default Timer;
</script>

<style lang="scss">
// Imports
@import '~app/src/scss/main';

// timer
.timer {
    position: absolute;
    display: flex;
    right: 24px;
    bottom: 24px;
    height: 100px;
    width: 360px;
    padding: 16px 16px 0 16px;
    border-radius: 2px;
    background: $color-accent;
    overflow: hidden;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    @include box-shadow(6);

    // timer__title
    @include element('title') {
        flex: 100%;
        width: 100%;
        padding: 8px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $color-text-secondary;
    }

    // timer__counter
    @include element('counter') {
        flex: 1 0 auto;
        padding-right: 16px;
        font-size: 24px;
    }

    // timer__seconds
    @include element('seconds') {
        color: $color-text-secondary;
        font-size: 14px;
    }

    // timer__actions
    @include element('actions') {
        display: flex;
    }

    // timer__button
    @include element('button') {
        position: relative;
        display: block;
        height: 32px;
        width: 32px;
        margin-right: 16px;
        border-radius: 50%;
        color: $color-text-secondary;

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: auto;
            vertical-align: middle;
            transform: translate(-50%, -50%);
            line-height: 24px;
            width: 24px;

            // Hide selection highlight
            &::selection {
                background: none;
            }
        }

        // Last
        &:last-child {
            margin-right: 0;
        }

        // Hover & Focus
        &:hover, &:focus:not(:active) {
            background: rgba(255, 255, 255, $shade-button-active);
            box-shadow: initial;
        }

        // Active
        &:active {
            background: rgba(255, 255, 255, $shade-button-active * 1.5);
            box-shadow: initial;
        }
    }
}

// timer-fab
.timer-fab {
    @extend .button--fab;
    position: absolute;
    right: 24px;
    bottom: 24px;
    margin: 0;

    // timer-fab__list
    @include element('list') {
        position: absolute;
        display: flex;
        right: 24px;
        bottom: 80px;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 56px;
        flex-direction: column;
        align-items: center;
    }

    // timer-fab__list-item
    @include element('list-item') {
        position: relative;
        max-height: 40px;
        margin-bottom: 16px;

        // Button
        a {
            position: relative;
            display: inline-block;
            height: 40px;
            width: 40px;
            min-width: 40px;
            overflow: hidden;
            border-radius: 50%;
            color: $color-text-primary;
            @include box-shadow(6);

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                transform: translate(-50%, -50%);
                object-fit: cover;
                object-position: center;
            }

            i {
                position: absolute;
                top: 50%;
                left: 50%;
                margin: auto;
                vertical-align: middle;
                transform: translate(-50%, -50%);
                line-height: 24px;
                width: 24px;

                // Hide selection highlight
                &::selection {
                    background: none;
                }
            }
        }

        // Label
        span {
            display: none;
            position: absolute;
            top: 50%;
            right: 100%;
            font-size: 14px;
            padding: 4px 8px;
            border-radius: 2px;
            white-space: nowrap;
            background: $color-background-search;
            color: $color-text-primary-dark;
            transform: translate(-8px, -50%);
        }

        // Hover
        &:hover {
            // Label
            span {
                display: block;
            }
        }

        // timer-fab__list-item--games
        @include modifier('games') {
            a {
                background: $color-accent;
            }
        }
    }
}
</style>
