<!--
    Purpose: This components will handle the rendering of the toasts
    Date: Dec 14 2016
-->
<template lang="html">
    <ul class="toast-list">
        <toast
             v-for="(toast, index) in toasts"
             v-bind:message="toast.message"
             v-bind:actionFunc="toast.actionFunc"
             v-bind:actionDesc="toast.actionDesc"
             v-bind:index="index">
        </toast>
    </ul>
</template>

<script>
// Imports
import Toast from './Toast.vue';

// Component Object
let ToastList = {
    // Tag name
    name: 'toast-list',

    // Components
    components: {
        Toast
    },

    // Data
    data() { return {
        toasts: []
    }},

    // Life Cycle
    created() {
        // Listen for new toasts
        this.$root.$on('new-toast', this.newToast);
    },

    // Event Listeners
    methods: {
        /**
         * @desc This method will create a new toast and add it to the list.
         * @since Dec 15 2016
         * @param String message
         * @param String actionDesc
         * @param Function actionFunc
         */
        newToast(message, actionDesc='', actionFunc=null) {
            // Create a new toast object with a message
            let toast = {
                message: message,
                actionDesc: actionDesc
            }

            // Check if an actionFunc was passed
            if (actionFunc !== undefined && typeof actionFunc == 'function') {
                // Set the toast action to the passed actionFunc
                toast.actionFunc = actionFunc;
            }
            // There was no actionFunc so set it to null
            else {
                toast.actionFunc = null;
            }

            // Push the toast to the toast array
            this.toasts.push(toast);
        }
    }
};

// Exports
export default ToastList;
</script>

<style lang="scss">
// Imports
@import '~app/src/scss/main';

.toast-list {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 50%;
    margin: 0 16px;
    padding: 0;
    list-style: none;
    flex-direction: column-reverse;
    z-index: 200;
}
</style>
