<!--
    Purpose: This component creates a reusable toast message
    Date: Dec 14 2016
-->
<template lang="html">
    <transition appear name="toast">
        <li class="toast">
            <div class="toast__message">
                {{ message }}
            </div>
            <div class="toast__action" v-if="actionFunc !== null && actionDesc !== ''">
                <a v-on:click="action">{{ actionDesc }}</a>
            </div>
        </li>
    </transition>
</template>

<script>
// Component Object
let Toast = {
    // Tag name
    name: 'toast',

    // Properties
    props: [
        'message',
        'actionFunc',
        'actionDesc',
        'index'
    ],

    // Data
    data() { return {
        showDuration: 5000
    }},

    // Life Cycle
    created() {
        // Wait a time then remove the toast
        setTimeout(this.destroy, this.showDuration);
    },

    // Methods
    methods: {
        /**
         * @desc This method will run an action associated with this toast
         * @since Dec 15 2016
         */
        action() {
            // Run the action function
            this.actionFunc();
        },

        /**
         * @desc This method will animate the component out of view then
         *      it will be destroyed.
         * @since Dec 18 2016
         */
        destroy() {
            // Start the outwards animation
            this.$parent.toasts.splice(this.index, 1);
        }
    }
};

// Exports
export default Toast;
</script>

<style lang="scss">
// Imports
@import '~app/src/scss/main';

.toast {
    position: absolute;
    display: flex;
    min-height: 54px;
    min-width: 360px;
    padding: 14px 24px;
    background: $color-toast;
    box-sizing: border-box;
    border-radius: 2px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    transform: translateX(-50%);
    @include box-shadow(2);

    @include element('message') {
    }

    @include element('action') {
        padding-left: 24px;
        text-transform: uppercase;
    }
}
</style>
