// Buttons
.button {
    position: relative;
    display: inline-block;
    padding: 8px 16px;
    margin: 8px 8px;
    height: 36px;
    min-width: 64px;
    background: lighten($color-background, 4);
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    color: $color-text-primary;
    font-size: 14px;
    font-weight: 500;
    outline: none;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    transition: 0.275s $curve-sharp;
    will-change: box-shadow, background;
    @include box-shadow(2);

    // Icons
    i {
        margin-right: 8px;
        font-size: 20px;
        vertical-align: middle;
    }

    // Disabled
    &:disabled, &[disabled] {
        color: $color-text-disable;
        background: $color-background-disable;
        box-shadow: initial;
    }

    // Focus
    &:focus:not(:active) {
        @include box-shadow(8);
    }

    // Active
    &:active {
        @include box-shadow(8);
        background: lighten(lighten($color-background, 4), percentage($shade-button-active));
    }

    // button--color
    @include modifier('color') {
        background: $color-accent;

        // Active
        &:active {
            background: $color-accent;
        }

    }

    // button--flat
    @include modifier('flat') {
        background: transparent;
        box-shadow: initial;

        // Disabled
        &:disabled, &[disabled] {
            background: transparent;
            color: $color-text-disable;
            box-shadow: initial;
        }

        // Hover & Focus
        &:hover, &:focus:not(:active) {
            background: rgba(158, 158, 158, $shade-button-active);
            box-shadow: initial;
        }

        // Active
        &:active {
            background: rgba(158, 158, 158, $shade-button-active * 1.5);
            box-shadow: initial;
        }
    }

    // button--flat-color
    @include modifier('flat-color') {
        color: $color-accent;
        background: transparent;
        box-shadow: initial;

        // Disabled
        &:disabled, &[disabled] {
            background: transparent;
            color: $color-text-disable;
            box-shadow: initial;
        }

        // Hover & Focus
        &:hover, &:focus:not(:active) {
            background: rgba(158, 158, 158, $shade-button-active);
            box-shadow: initial;
        }

        // Active
        &:active {
            background: rgba(158, 158, 158, $shade-button-active * 1.5);
            box-shadow: initial;
        }
    }

    // button--icon
    @include modifier('icon') {
        position: relative;
        display: inline-block;
        height: 32px;
        width: 32px;
        min-width: 32px;
        padding: 8px;
        margin: 0;
        background: transparent;
        border-radius: 50%;
        box-shadow: initial;
        font-size: 24px;
        color: $color-text-disable;
        line-height: normal;
        transition: background 0.175s $curve-deceleration;

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: auto;
            font-size: 24px;
            vertical-align: middle;
            transform: translate(-50%, -50%);
            line-height: 24px;

            // Hide selection highlight
            &::selection {
                background: none;
            }
        }

        // Disabled
        &:disabled, &[disabled] {
            background: transparent;
            color: $color-background-disable;
            box-shadow: initial;
        }

        // Hover & Focus
        &:hover, &:focus:not(:active) {
            background: rgba(158, 158, 158, $shade-button-active);
            box-shadow: initial;
        }

        // Active
        &:active {
            background: rgba(158, 158, 158, $shade-button-active * 1.5);
            box-shadow: initial;
        }
    }

    // button--fab
    @include modifier('fab') {
        position: relative;
        height: 56px;
        width: 56px;
        min-width: 56px;
        padding: 0;
        font-size: 24px;
        border-radius: 50%;
        overflow: hidden;
        background: $color-accent;
        color: $color-text-primary;
        @include box-shadow(6);
        line-height: normal;

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: auto;
            font-size: 24px;
            vertical-align: middle;
            transform: translate(-50%, -50%);
            line-height: 24px;

            // Hide selection highlight
            &::selection {
                background: none;
            }
        }

        // Focus
        &:focus:not(:active) {
            @include box-shadow(16);
        }

        // Active
        &:active {
            @include box-shadow(16);
            background: $color-accent;
        }
    }
}
