/*
    Purpose: This file contains the patial styling for forms.
    Date: Dec 27 2016
*/
.page-form {
    width: 360px;
    padding: 16px;
    border-radius: 4px;
    background: lighten($color-background, 2);
    @include box-shadow(1);

    // page-form__text
    @include element('text') {

    }

    // page-form__header
    @include element('header') {
        margin: 0.7em 0 0.35em 0;
        font-weight: 300;
    }

    // page-form__message
    @include element('message') {
        color: $color-text-secondary;
    }

    // page-form__fields
    @include element('fields') {
        display: flex;
        align-items: baseline;
        flex-direction: column;
    }

    // page-form__textfield
    @include element('textfield') {
        width: 100%;
    }

    // page-form__submit
    @include element('submit') {
        margin: 16px 0;
    }

    // page-form__action
    @include element('action') {
        display: block;
        padding: 2px 0;
    }
}
