/*
    Purpose: This file contains the patial styling for scrollbars.
    Date: Jan 24 2017
*/
// Scrollbar
::-webkit-scrollbar {
    width: 14px;
    height: 18px;
    background: rgba(0, 0, 0, 0);
}

// Scrollbar Indicator
::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    border-top: 8px solid rgba(0, 0, 0, 0);
    border-bottom: 8px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    background-color: $color-divider;

    // Hover
    &:hover {
        background-color: $color-text-disable;
    }

    // Active
    &:active {
        background-color: $color-accent;
    }
}

// Scrollbar Up and Down Buttons
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

// Scrollbar Corner
::-webkit-scrollbar-corner {
    background-color: transparent;
}
