/*
    Purpose: This file contains the styling for tabs
    Date: Feb 1 2017
*/
// tab-set
.tab-set {
    display: flex;

    // tab-set__tab
    @include element('tab') {
        position: relative;
        flex: auto;
        padding: 16px;
        box-sizing: border-box;
        text-align: center;
        background: darken($color-background, 2);;
        color: $color-text-disable;

        // tab-set__tab--active
        @include modifier('active') {
            color: $color-text-primary;

            // Indicator
            &::after {
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                height: 4px;
                width: 100%;
                background: linear-gradient(270deg, $color-accent, adjust-hue($color-accent, -25deg));
                background-size: 200% 200%;
                animation: gradient-flow 15s $curve-acceleration infinite;
            }
        }
    }
}
