/*
    Purpose: This file contains the styling for tables
    Date: Jan 20 2017
*/
table {
    border-collapse: collapse;

    tbody {
        font-weight: 300;
    }

    thead {
        border-bottom: 1px solid $color-divider;

        &:last-child {
            border-bottom: 0;
        }
    }

    td {
        padding: 12px 18px;
        text-align: right;

        &:first-child {
            text-align: left;
        }
    }

    th {
        padding: 12px 18px;
        text-align: right;
        color: $color-text-secondary;

        &:first-child {
            text-align: left;
        }
    }
}
