/*
Purpose: This contains the base styling for views
Date: Dec 16 2016
*/

// view
.view {
    background: $color-background;
    width: calc(100% - 96px);
    overflow: auto;

    // view--form
    @include modifier('form') {
        position: fixed;
        display: flex;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        flex: 1;
        z-index: 100;
    }

    // view--full
    @include modifier('full') {
        position: fixed;
        display: flex;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        flex: 1;
        z-index: 100;
    }
}
