<template lang="html">
<div class="datepicker-wrapper" v-bind:class="{ class: true, }">
    <!-- Start Datepicker Input -->
    <span v-bind:id="id + '-wrapper'" class="textfield">
        <input v-bind:id="id" class="textfield__input" v-bind:value="valueDateFormatted" v-on:click="openPicker" />
        <label class="textfield__label" v-bind:for="id" v-show="!valueDateFormatted">{{ label }}</label>
        <span class="textfield__hint--error" v-if="error">{{ error }}</span>
        <span class="textfield__hint" v-if="hint && !error">{{ hint }}</span>
    </span>
    <!-- End Datepicker Input -->

    <template v-if="showPicker">
        <!-- Start Datepicker Shade -->
        <div class="datepicker-shade"></div>
        <!-- End Datepicker Shade -->

        <!-- Start Datepicker Modal -->
        <div class="datepicker" v-on-clickaway="closePicker">
            <div class="datepicker__header">
                <div class="datepicker__preview">
                    <div class="datepicker__preview-year">{{ selectedYear }}</div>
                    <div class="datepicker__preview-date">{{ selectedDateFormated }}</div>
                </div>
                <div class="datepicker__pagination">
                    <a class="datepicker__pagination-button" v-on:click="paginateMonth('prev')">
                        <i class="material-icons">navigate_before</i>
                    </a>
                    <div class="datepicker__month">
                        {{ month }} {{ year }}
                    </div>
                    <a class="datepicker__pagination-button" v-on:click="paginateMonth('next')">
                        <i class="material-icons">navigate_next</i>
                    </a>
                </div>
            </div>
            <div class="datepicker__body">
                <div class="datepicker__legend">
                    <span class="datepicker__day--legend"
                        v-for="day in daysOfWeek">
                        {{ day }}
                    </span>
                </div>
                <div class="datepicker__week"
                    v-for="week in daysInMonth">

                    <a class="datepicker__day"
                        v-for="day in week"
                        v-bind:class="{
                            'datepicker__day--placeholder': day.month !== month,
                            'datepicker__day--selected': day.iso == selectedDate,
                        }"
                        v-on:click="selectDate(day.iso)">
                        {{ day.day }}
                    </a>
                </div>
            </div>
            <div class="datepicker__actions">
                <a class="button--flat-color" v-on:click="closePicker">cancel</a>
                <a class="button--flat-color" v-if="selectedDate !== null" v-on:click="updateValue">ok</a>
                <a class="button--flat-color" v-else disabled>ok</a>
            </div>
        </div>
        <!-- End Datepicker Modal -->
    </template>
</div>
</template>

<script>
// Imports
import Moment from 'moment';
import { extendMoment } from 'moment-range';
import { mixin as clickaway } from 'vue-clickaway';

// Adding Moment Plugin
const moment = extendMoment(Moment);

// Component Object
let Datepicker = {
    // Tag Name
    name: 'datepicker',

    // Properties
    props: {
        value: null,
        id: {
            type: String,
            default: '',
            required: true,
        },
        class: {
            type: String,
            default: '',
        },
        label: {
            type: String,
            default: '',
        },
        error: {
            type: String,
        },
        hint: {
            type: String,
        },
    },

    // Data
    data() { return {
        today: moment(),
        dateContext: moment(),
        daysOfWeek: ['S', 'M', 'T', 'W', 'T', 'F', 'S'],
        selectedDate: null,
        showPicker: false,
    }},

    // Mixins
    mixins: [ clickaway ],

    // Computed
    computed: {
        /**
         * @desc This method will return the year of the dateContext.
         * @since Feb 3 2017
         * @returns String
         */
        year() {
            return moment(this.dateContext).format('Y');
        },

        /**
         * @desc This method will return the month of the dateContext.
         * @since Feb 3 2017
         * @returns String
         */
        month() {
            return moment(this.dateContext).format('MMMM');
        },

        /**
         * @desc This method will return the year of the selected date.
         * @since Feb 4 2017
         * @returns String
         */
        selectedYear() {
            // Try to parse out the dates year
            try {
                // If the date is null throw exception
                if (this.selectedDate == null) {
                    throw 'No selected date';
                }

                // Return the year
                return moment(this.selectedDate).format('Y');
            }

            // Catch exceptions and return an empty state
            catch (ex) {
                return '- -';
            }
        },

        /**
         * @desc This method will return the selected date formated in a
         *      human readable format.
         * @since Feb 4 2017
         * @returns String
         */
        selectedDateFormated() {
            // Try to parse out the dates year
            try {
                // If the date is null throw exception
                if (this.selectedDate == null) {
                    throw 'No selected date';
                }

                // Return the year
                return moment(this.selectedDate).format('ddd, MMM D');
            }

            // Catch exceptions and return an empty state
            catch (ex) {
                return '- -';
            }
        },

        /**
         * @desc This will format the value into a human readable format.
         * @since Feb 7 2017
         */
        valueDateFormatted() {
            // Try to parse out the dates year
            try {
                // If the date is null throw exception
                if (this.value == null) {
                    throw 'No value to convert into a human readable date.';
                }

                // Return the year
                return moment(this.value).format('MM/DD/YYYY');
            }

            // Catch exceptions and return an empty state
            catch (ex) {
                return '';
            }
        },

        /**
         * @desc This method returns data for the days in a month.
         * @since Feb 3 2017
         * @returns Array
         */
        daysInMonth() {
            // Get Range of the month
            let firstDayMonth = moment(this.dateContext).startOf('month');
            let lastDayMonth = moment(this.dateContext).endOf('month');
            let monthRange = moment.range(firstDayMonth, lastDayMonth);

            // Storing the calendar month
            let calendarMonth = [];

            // Storing the number of weeks
            let weeks = [];

            // Holding the previous weeks number in the year
            let prevWeek = null;

            // Looping through the dates to get weeks of the
            for (let day of monthRange.by('day')) {
                // If the week is unique add it to the array
                if (day.week() !== prevWeek) {
                    weeks.push(day.week());
                }

                // Set this week as the previous week
                prevWeek = day.week();
            }

            // Loop through the weeks and
            for (let week of weeks) {
                // Get the range of the week
                let firstDayWeek = moment(this.dateContext).week(week).startOf('week');
                let lastDayWeek = moment(this.dateContext).week(week).endOf('week');
                let weekRange = moment.range(firstDayWeek, lastDayWeek);

                // Storage for this weeks worth of days
                let tempWeek = []

                // Looping through the dates of the weeks
                for (let day of weekRange.by('day')) {
                    // Create an object to store the data
                    let dayObj = {
                        iso: day.toISOString(),
                        day: day.date(),
                        month: day.format('MMMM'),
                    };

                    // Push the dayObj to the temp week array
                    tempWeek.push(dayObj);
                }

                // Push the week to the calendar month
                calendarMonth.push(tempWeek)
            }

            return calendarMonth;
        },
    },

    // Methods
    methods: {
        /**
         * @desc This method will paginate the datepicker based
         *      on the param passed.
         * @since Feb 5 2017
         * @param String navDirection
         */
        paginateMonth(navDirection = 'prev') {
            // Try to paginate the moment
            try {
                // If we are getting the previous month
                if (navDirection == 'prev') {
                    this.dateContext = moment(this.dateContext).subtract(1, 'month');
                }

                // Else we are going forward
                else {
                    this.dateContext = moment(this.dateContext).add(1, 'month');
                }
            }

            // Catch exceptions
            catch (ex) {
                return;
            }
        },

        /**
         * @desc This method will set the selected date to be the one the user
         *      chose off of the calendar.
         * @since Feb 4 2017
         * @param String dateISO
         */
        selectDate(dateISO) {
            // Set the selected date to the chosen date
            this.selectedDate = dateISO;
        },

        /**
         * @desc This method will open up the date picker and handle life cycle
         *      events that go along with it opening.
         * @since Feb 4 2017
         */
        openPicker() {
            // If the value was passed then set it as the selected date
            if (this.value !== null) {
                this.selectedDate = this.value;
            }

            // Open the picker
            this.showPicker = true;
        },

        /**
         * @desc This method will close the date picker and handle life cycle
         *      events that go along with it opening.
         * @since Feb 4 2017
         */
        closePicker() {
            this.showPicker = false;
        },

        /**
         * @desc This method will update the value with a new iso string.
         * @since Feb 7 2017
         */
        updateValue() {
            // Set the new value as the selected dates iso
            let newValue = this.selectedDate;

            // If the changes haven't already been applied then do it
            if (newValue !== this.selectedDate) {
                this.$refs.input.value = newValue
            }

            // Emit the new value through the input event
            this.$emit('input', newValue);

            // Close the picker
            this.closePicker();
        }
    }
};

// Exports
export default Datepicker;
</script>

<style lang="scss">
// Imports
@import '~app/src/scss/main';

// datepicker-input
.datepicker-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

// datepicker
.datepicker {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    border-radius: 2px;
    background: $color-background;
    overflow: hidden;
    transform: translate(-50%, -50%);
    z-index: 100;
    @include box-shadow(4);

    // datepicker__body
    @include element('body') {
        display: flex;
        padding: 8px;
        flex-wrap: wrap;
    }

    // datepicker__actions
    @include element('actions') {
        display: flex;
        justify-content: flex-end;
    }

    // datepicker__preview
    @include element('preview') {
        padding: 16px;
        background-color: lighten($color-background, 4);
    }

    // datepicker__preview-year
    @include element('preview-year') {
        color: $color-text-secondary;
    }

    // datepicker__preview-date
    @include element('preview-date') {
        color: $color-text-primary;
        font-size: #{$base-font-size * 2};
        font-weight: 500;
    }

    // datepicker__pagination
    @include element('pagination') {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // datepicker__pagination-button
    @include element('pagination-button') {
        vertical-align: middle;
        padding: 16px;
        color: $color-text-secondary;
    }

    // datepicker__legend
    @include element('legend') {
        display: flex;
        flex: 100%;
    }

    @include element('legend-day') {
        flex: 14.285%;
        padding: 8px;
        color: $color-text-secondary;
        text-align: center;
    }

    // datepicker__week
    @include element('week') {
        display: flex;
        flex: 100%;
    }

    @include element('day') {
        position: relative;
        flex: 14.285%;
        padding: 8px;
        margin-bottom: 6px;
        color: $color-text-primary;
        font-size: 14px;
        font-weight: 600;
        text-align: center;

        // Hover
        &:hover {

            // Highlight
            &::before {
                position: absolute;
                content: "";
                top: 50%;
                left: 50%;
                height: 34px;
                width: 34px;
                background: $color-divider;
                border-radius: 50%;
                z-index: -1;
                transform: translate(-45%, -50%);
            }
        }

        // datepicker__day--legend
        @include modifier('legend') {
            margin: auto;
            font-size: initial;
            font-weight: initial;
            color: $color-text-secondary;

            // Hover
            &:hover {
                // Highlight
                &::before {
                    display: none;
                }
            }
        }

        // datepicker__day--selected
        @include modifier('selected') {
            color: $color-background;

            // Highlight
            &::before {
                position: absolute;
                content: "";
                top: 50%;
                left: 50%;
                height: 34px;
                width: 34px;
                background: $color-accent;
                border-radius: 50%;
                z-index: -1;
                transform: translate(-45%, -50%);
            }

            // Hover
            &:hover {
                // Highlight
                &::before {
                    background: $color-accent;
                }
            }
        }

        // datepicker__day--placeholder
        @include modifier('placeholder') {
            opacity: 0;

            // Highlight
            &::before {
                display: none;
            }
        }
    }
}

.datepicker-shade {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, $shade-modal);
}
</style>
