<template lang="html">
    <div class="dropdown">
        <a v-if="icon" class="dropdown__link button--icon" v-on:click.stop.prevent="toggleMenu()">
            <i class="material-icons">{{ icon }}</i>
        </a>

        <a v-if="label" class="dropdown__link button--flat" v-on:click.stop.prevent="toggleMenu()">
            {{ label }}
        </a>

        <div class="dropdown__list" v-bind:style="listPosition" v-if="toggle" v-on-clickaway="clickAwayHide">
            <slot></slot>
        </div>
    </div>
</template>

<script>
// Imports
import { mixin as clickaway } from 'vue-clickaway';

// Component Object
let Dropdown = {
    // Tag name
    name: 'dropdown',

    // Properties
    props: {
        icon: {
            type: String,
            default: null,
        },
        label: {
            type: String,
            default: null,
        },
        toggled: {
            type: Boolean,
            default: false,
        },
        vertical: {
            type: String,
            default: 'top',
        },
        horizontal: {
            type: String,
            default: 'left',
        },
    },

    // Data
    data() { return {
        toggle: false,
    }},

    // Mixins
    mixins: [ clickaway ],

    // Watchers
    watch: {
        /**
         * @desc toggled
         */
        toggled: function() {
            this.toggle = this.toggled;
        },
    },

    // Computed
    computed: {
        /**
         * @desc This method will compute the style for the position of
         *      the dropdowns list.
         * @since Jan 18 2017
         * @returns Object
         */
        listPosition() {
            // Object we are going to return
            let styleObject = {};

            // Setting the vertical style
            switch (this.vertical) {
                case 'top':
                    // Set the top origin point
                    styleObject.top = '-4px';
                    break;

                case 'bottom':
                    // Set the bottom origin point
                    styleObject.bottom = '-4px';
                    break;

                default:
                    // Set the top origin point
                    styleObject.top = '-4px';
                    break;
            }

            // Setting the horizontal style
            switch (this.horizontal) {
                case 'left':
                    // Set the left origin point
                    styleObject.left = 0;
                    break;

                case 'right':
                    // Set the right origin point
                    styleObject.right = 0;
                    break;

                default:
                    // Set the left origin point
                    styleObject.left = 0;
                    break;
            }

            // Return the styling
            return styleObject;
        }
    },

    // Methods
    methods: {
        /**
         * @desc This method will toggle the menu.
         * @since Jan 17 2017
         */
        toggleMenu() {
            this.toggle = !this.toggle;
        },

        /**
         * @desc This method will toggle close the menu.
         * @since Jan 17 2017
         */
        clickAwayHide() {
            this.toggle = false;
        }
    }
}

// Export
export default Dropdown;
</script>

<style lang="scss">
// Imports
@import '~app/src/scss/main';

// dropdown
.dropdown {
    position: relative;
    display: inline-block;

    // dropdown__link
    @include element('link') {
        min-width: 64px;
        margin: 0 !important;
        text-transform: none !important;
        font-size: 16px !important;
        font-weight: 400 !important;
    }

    // dropdown__list
    @include element('list') {
        position: absolute;
        display: flex;
        min-width: 64px;
        padding: 4px 0;
        text-align: left;
        flex-direction: column;
        border-radius: 2px;
        background: lighten($color-background, 2);
        white-space: nowrap;
        transition: background 0.175s $curve-deceleration;
        z-index: 100;
        @include box-shadow(1);

        a {
            color: $color-text-primary;
            font-size: 16px;
            padding: 8px 16px;

            // Hover
            &:hover {
                background: $color-divider;
            }
        }

        hr {
            margin: 0;
            border: none;
            border-top: 1px solid $color-divider;
        }
    }
}
</style>
