<template lang="html">
    <span
        v-bind:id="id + '-wrapper'"
        class="textfield"
        v-bind:class="{
            class: true,
            'textfield--focused': focused,
            'textfield--error': error,
        }">
        <input
            v-bind:id="id"
            class="textfield__input"
            v-bind:value="value"
            v-bind:type="type"
            v-focus="focused"
            v-on:focus="focused = true"
            v-on:blur="focused = false"
            v-on:input="updateValue($event.target.value)"
             />
        <label class="textfield__label" v-bind:for="id" v-show="!value && parseInt(value) != 0">{{ label }}</label>
        <span class="textfield__hint--error" v-if="error">{{ error }}</span>
        <span class="textfield__hint" v-if="hint && !error">{{ hint }}</span>
    </span>
</template>

<script>
// Imports
import { mixin as focusMixin }  from 'vue-focus';

// Component Object
let Textfield = {
    // Tag Name
    name: 'textfield',

    // Mixins
    mixins: [
        focusMixin,
    ],

    // Properties
    props: {
        value: null,
        id: {
            type: String,
            default: '',
            required: true,
        },
        class: {
            type: String,
            default: '',
        },
        type: {
            type: String,
            default: 'text',
        },
        label: {
            type: String,
            default: '',
        },
        error: {
            type: String,
        },
        hint: {
            type: String,
        },
        disabled: {
            type: Boolean,
            default: false,
        },
        readonly: {
            type: Boolean,
            default: false,
        }
    },

    // Data
    data() { return {
        editValue: null,
        focused: false,
    }},

    // Methods
    methods: {
        /**
         * @desc This method will sync the v-model passed.
         * @since Feb 7 2017
         * @param String value
         */
        updateValue(value) {
            // Set the new value as the selected dates iso
            let newValue = value;

            // If the changes haven't already been applied then do it
            if (newValue !== value) {
                this.$refs.input.value = newValue;
            }

            // Emit the new value through the input event
            this.$emit('input', newValue);
        }
    },
}

// Exports
export default Textfield;
</script>

<style lang="scss">
// Imports
@import '~app/src/scss/main';

// Textfield
.textfield {
    position: relative;
    margin: 20px 0;

    // Bottom Highlight
    &::after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: $color-accent;
        transform: scaleX(0);
        transition: 0.175s $curve-acceleration;
    }

    // textfield__input
    @include element('input') {
        width: 100%;
        color: $color-text-primary;
        padding-bottom: 4px;
        background: transparent;
        border: none;
        border-bottom: 1px solid $color-divider;
        outline: none;
    }

    // textfield__label
    @include element('label') {
        position: absolute;
        top: 0;
        left: 0;
        font-weight: 300;
        color: $color-text-secondary;
    }

    // textfield__hint
    @include element('hint') {
        position: absolute;
        left: 0;
        width: 100%;
        text-align: left;
        font-size: 12px;
        margin-top: 3px;
        color: $color-text-secondary;

        // textfield__hint--error
        @include modifier('error') {
            color: $color-invalid;
        }
    }

    // textfield--focused
    @include modifier('focused') {
        // Bottom Highlight
        &::after {
            transform: scaleX(1);
        }
    }

    // textfield--error
    @include modifier('error') {
        &::after {
            background: $color-invalid;
        }
    }
}
</style>
