<template lang="html">
        <label class="toggle" v-bind:for="id">
            <input
                v-bind:id="id"
                class="toggle__hidden-input"
                type="checkbox"
                v-bind:checked="value"
                v-on:change="updateValue($event.target.checked)">
            <span
                class="toggle__checkbox"
                v-bind:class="{
                    'toggle__checkbox--on': value,
                    'toggle__checkbox--off': !value,
                }">
            </span>
            <span class="toggle__label">{{ label }}</span>
        </label>
</template>

<script>
// Component Object
let Toggle = {
    // Tag Name
    name: 'toggle',

    // Properties
    props: {
        value: null,
        id: {
            type: String,
            default: '',
            required: true,
        },
        class: {
            type: String,
            default: '',
        },
        type: {
            type: String,
            default: 'text',
        },
        label: {
            type: String,
            default: '',
        },
    },

    // Data
    data() { return {
        editValue: null,
    }},

    // Methods
    methods: {
        /**
         * @desc This method will sync the v-model passed.
         * @since Feb 7 2017
         * @param String value
         */
        updateValue(value) {
            // Set the new value as the selected dates iso
            let newValue = value;

            // If the changes haven't already been applied then do it
            if (newValue !== value) {
                this.$refs.input.checked = newValue;
            }

            // Emit the new value through the input event
            this.$emit('input', newValue);
        }
    },
}

// Exports
export default Toggle;
</script>

<style lang="scss">
// Imports
@import '~app/src/scss/main';

.toggle {
    position: relative;
    display: inline-flex;
    height: 24px;
    margin: 16px 0;
    padding: 0;
    align-items: center;
    box-sizing: border-box;

    // toggle__hidden-input
    @include element('hidden-input') {
        position: absolute;
        height: 0px;
        width: 0px;
    }

    // toggle__checkbox
    @include element('checkbox') {
        display: inline-block;
        box-sizing: border-box;
        width: 16px;
        height: 16px;
        margin: 4px 8px 4px 0;
        cursor: pointer;
        overflow: hidden;
        border: 2px solid $color-text-secondary;
        border-radius: 2px;

        // Checkbox icon
        &::before {
            @extend .material-icons;
            position: absolute;
            content: "\E835";
            display: inline-block;
            top: 0;
            left: 0;
            font-size: 20px;
            color: $color-text-secondary;
            vertical-align: middle;
            cursor: pointer;
            transform: translate(-2px, 2px);
        }

        // toggle__checkbox--on
        @include modifier('on') {
            border: 2px solid $color-accent;

            // Checkbox icon
            &::before {
                content: "\E834";
                color: $color-accent;
            }
        }

        // toggle__checkbox--off
        @include modifier('off') {
            // Checkbox icon
            &::before {
                content: "\E835";
                color: $color-text-secondary;
            }
        }
    }
}
</style>
