/*
    Purpose: This file contains the styling variables for the application.
    Date: Dec 18 2016
*/

/* -- Breakpoint Size -- */
$breakpoint-small: 480px;
$breakpoint-medium: 960px;
$breakpoint-large: 1920px;

/* -- Default Theme -- */
// Colors
$color-background: #212121;
$color-accent: #FF4081;
$color-toast: #323232;
$color-invalid: #F44336;
$color-shade: rgba(204, 204, 204, 0);
$color-background-disable: rgba(255, 255, 255, 0.15);
$color-background-search: rgba(255, 255, 255, 1);
$color-divider: rgba(255, 255, 255, 0.12);
$color-text-primary: rgba(255, 255, 255, 1);
$color-text-secondary: rgba(255, 255, 255, 0.7);
$color-text-disable: rgba(255, 255, 255, 0.3);
$color-text-primary-dark: rgba(0, 0, 0, .87);
$color-text-secondary-dark: rgba(0, 0, 0, .54);

// Shades
$shade-button-active: 0.12;
$shade-modal: 0.54;
$shade-key-umbra-opacity: 0.2;
$shade-key-penumbra-opacity: 0.14;
$shade-ambient-shadow-opacity: 0.12;

// Curves
$curve-standard: cubic-bezier(0.4, 0.0, 0.2, 1);
$curve-deceleration: cubic-bezier(0.0, 0.0, 0.2, 1);
$curve-acceleration: cubic-bezier(0.4, 0.0, 1, 1);
$curve-sharp: cubic-bezier(0.4, 0.0, 0.6, 1);

// Font Sizes
$base-font-size: 16px;
$font-scale-small: (
    h1: 2.074,
    h2: 1.728,
    h3: 1.44,
    h4: 1.2
);
$font-scale-medium: (
    h1: 2.441,
    h2: 1.953,
    h3: 1.563,
    h4: 1.25
);
$font-scale-large: (
    h1: 3.157,
    h2: 2.369,
    h3: 1.777,
    h4: 1.333
)
