<!--
    Purpose: This form will validate the user and if successful it will save it
        to the users persistent settings.
    Date: Dec 13 2016
-->
<template lang="html">
    <form class="page-form" v-on:submit.prevent="authUser()">
        <!-- Start Message -->
        <div class="page-form__text">
            <h3 class="page-form__header">Wrapdit</h3>
        </div>
        <!-- End Message -->

        <!-- Start Fields -->
        <div class="page-form__fields">
            <textfield id="login-username" class="page-form__textfield" label="Username" v-model="username"></textfield>
            <textfield id="login-password" class="page-form__textfield" label="Password" type="password" v-model="password"></textfield>
            <input class="button--color page-form__submit" type="submit" value="Login" v-bind:disabled="!username || !password" />
        </div>
        <!-- End Fields -->

        <!-- Start Actions -->
        <router-link class="page-form__action" to="/password-reset">Forgot Password?</router-link>
        <router-link class="page-form__action" to="/register">Create Account?</router-link>
        <!-- End Actions -->
    </form>
</template>

<script>
// Imports
import request from 'superagent/superagent';
import config from '../../../js/config/config.js';
import { settings } from '../../../js/settings.js';
import Game from '../../../js/models/Game.js';
import Record from '../../../js/models/Record.js';
import Session from '../../../js/models/Session.js';
import Textfield from '../inputs/Textfield.vue';

// Component Object
let LoginForm = {
    // Tag name
    name: 'login-form',

    // Components
    components: {
        Textfield,
    },

    // Props
    props: ['redirect'],

    // Data
    data() { return {
        username: '',
        password: '',
        statusMessage: '',
    }},

    // Life Cycle
    mounted() { },

    // Methods
    methods: {
        /**
         * @desc This method will attempt to authenticate a user with the
         *      provided username and password.
         * @since Dec 13 2016
         */
        authUser() {
            // Start loading
            this.$root.$emit('loading', true);

            // Make auth req
            let authReq = request('POST', config.wrapditUrl + 'account')
                .auth(this.username, this.password);

            // Auth response
            authReq.then((response) => {
                // Stop loading
                this.$root.$emit('loading', false);

                // Parse the response
                let user = JSON.parse(response.text).user;

                // Save the new settings
                settings('_user', {
                    username: user.username,
                    email: user.email,
                    userId: user.user_id,
                    token: user.token,
                });

                // Begin loading
                this.$router.push({
                    path: '/loading',
                    query: {
                        redirect: '/queue'
                    }
                });
            })

            // Auth error
            .catch((ex) => {
                // Stop loading
                this.$root.$emit('loading', false);
            });
        }
    }
}

// Exports
export default LoginForm;
</script>
