<!--
    Purpose: This form will allow the user to input their email address and
        a link to reset their password will be created.
    Date: Dec 23 2016
-->
<template lang="html">
    <form class="page-form" v-on:submit.prevent="resetPassword()">
        <!-- Start Initial Message -->
        <div class="page-form__text" v-if="!formSubmitted">
            <h3 class="page-form__header">Reset Password</h3>
            <p class="page-form__message">
                Enter your email address to continue.
            </p>
        </div>
        <!-- End Initial Message -->

        <!-- Start Submission Message -->
        <div class="page-form__text" v-else>
            <h3 class="page-form__header">Reset Password</h3>
            <p class="page-form__message">
                An email with has been sent to {{ email }}. To complete the password
                reset follow the link in the email address.
            </p>
        </div>
        <!-- End Submission Message -->

        <!-- Start Fields -->
        <div class="page-form__fields">
            <textfield id="reset-email" class="page-form__textfield textfield" v-model="email" label="Email"></textfield>
            <input class="button--color page-form__submit" type="submit" value="Reset" v-bind:disabled="!email" />
        </div>
        <!-- End Fields -->

        <!-- Start Actions -->
        <router-link class="page-form__action" to="/login">Login?</router-link>
        <!-- End Actions -->
    </form>
</template>

<script>
// Imports
import request from 'superagent/superagent';
import config from '../../../js/config/config.js';
import Textfield from '../inputs/Textfield.vue';

// Component Object
let PassResetForm = {
    // Tag name
    name: 'pass-reset-form',

    // Components
    components: {
        Textfield,
    },

    // Data
    data() { return {
        email: '',
        formSubmitted: false,
    }},

    // Methods
    methods: {
        /**
         * @desc This method will send a password reset email out to the provided
         *      email address.
         * @since Dec 23 2016
         */
        resetPassword() {
            // Check if hte email is valid
            if (this.email.match(/^\S+@\S+$/) !== null) {
                // Start loading
                this.$root.$emit('loading', true);

                // Init a request
                let passRequest = request('PATCH', config.wrapditUrl + 'account')
                    .query({ email: this.email });

                // Response / Error for request
                passRequest.then((response) => {
                    // End loading
                    this.$root.$emit('loading', false);

                    // Display submission message
                    this.formSubmitted = true;

                    // Create success toast
                    let toastMessage = 'Password reset sent';
                    this.$root.$emit('new-toast', toastMessage);

                }).catch((error) => {
                    // End loading
                    this.$root.$emit('loading', false);

                    // Init toast message
                    let toastMessage;

                    // If there was a response message
                    if (error.response != null) {
                        toastMessage = 'Unable to find account';
                    }

                    // Else the error was a connection one
                    else {
                        toastMessage = 'Unable to connect to server';
                    }

                    // Create toast
                    this.$root.$emit('new-toast', toastMessage);
                });
            }

            // Else the email is invalid
            else {
                // Create error toast
                let toastMessage = 'Email is invalid';
                this.$root.$emit('new-toast', toastMessage);
            }
        }
    }
}

// Exports
export default PassResetForm;
</script>
