<!--
    Purpose: This is the account registration form. It handles client side
        data validation, and will display a message once the process is finished.
    Date: Dec 22 2016
-->
<template lang="html">
    <form class="page-form" v-on:submit.prevent="registerUser()">
        <!-- Start Initial Message -->
        <div class="page-form__text" v-if="!formSubmitted">
            <h3 class="page-form__header">Sign Up</h3>
        </div>
        <!-- End Initial Message -->

        <!-- Start Submission Message -->
        <div class="page-form__text" v-else>
            <h3 class="page-form__header">Sign Up</h3>
            <p class="page-form__message">
                Thank you for signing up with Wrapdit. Additional confirmation
                is needed. Please continue the process from the Confirmation E-mail
                sent to {{ email }}.
            </p>
        </div>
        <!-- End Submission Message -->

        <!-- Start Fields -->
        <div class="page-form__fields" v-if="!formSubmitted">
            <textfield
                id="register-username"
                class="page-form__textfield textfield"
                v-model="username"
                label="Username"
                v-bind:error="(usernameValid !== false) ? null : usernameErrorMsg">
            </textfield>
            <textfield
                id="register-email"
                class="page-form__textfield textfield"
                v-model="email"
                label="Email"
                v-bind:error="(emailValid !== false) ? null : emailErrorMsg">
            </textfield>
            <textfield
                id="register-password"
                class="page-form__textfield textfield"
                v-model="password"
                type="password"
                label="Password"
                hint="At least 8 characters"
                v-bind:error="(passwordValid !== false) ? null : passwordErrorMsg">
            </textfield>
            <textfield
                id="register-password-conf"
                class="page-form__textfield textfield"
                v-model="passwordConf"
                type="password"
                label="Confirm Password"
                hint="At least 8 characters"
                v-bind:error="(passwordValid !== false) ? null : passwordErrorMsg">
            </textfield>
            <toggle id="register-terms" v-model="termsAccepted" label="I accept the Terms of Service"></toggle>
            <input class="button--color page-form__submit" type="submit" value="Sign Up" v-bind:disabled="formComplete" />
        </div>
        <!-- End Fields -->

        <!-- Start Actions -->
        <router-link class="page-form__action" to="/login">Already have an account? Login.</router-link>
        <router-link class="page-form__action" to="/terms">Terms of Service.</router-link>
        <!-- End Actions -->
    </form>
</template>

<script>
// Imports
import debounce from 'lodash.debounce';
import request from 'superagent/superagent';
import config from '../../../js/config/config.js';
import Textfield from '../inputs/Textfield.vue';
import Toggle from '../inputs/Toggle.vue';

// Component Object
let RegisterForm = {
    // Tag name
    name: 'register-form',

    // Components
    components: {
        Textfield,
        Toggle
    },

    // Data
    data() { return {
        username: '',
        email: '',
        password: '',
        passwordConf: '',
        termsAccepted: false,
        usernameValid: null,
        emailValid: null,
        passwordValid: null,
        usernameErrorMsg: null,
        emailErrorMsg: null,
        passwordErrorMsg: null,
        formSubmitted: false
    }},

    // Watchers
    watch: {
        /**
         * @desc Username | 500ms
         */
        username: debounce(function() {
            this.validateUsername();
        }, 500),

        /**
         * @desc email | 500ms
         */
        email: debounce(function() {
            this.validateEmail();
        }, 500),

        /**
         * @desc password | 500ms
         */
        password: debounce(function() {
            this.validatePassword();
        }, 500),

        /**
         * @desc passwordConf | 500ms
         */
        passwordConf: debounce(function() {
            this.validatePassword();
        }, 500),
    },

    // Computed
    computed: {
        /**
         * @desc This returns wheater or not the form is completed.
         * @since Dec 22 2016
         * @returns Bool
         */
        formComplete() {
            // If everything is valid go ahead and enable submision
            if (this.termsAccepted && this.usernameValid && this.emailValid && this.passwordValid) {
                return false;
            }

            // Something isn't valid so disable the button
            else {
                return true;
            }
        }
    },

    // Methods
    methods: {
        /**
         * @desc This method will send a request to register a new user.
         * @since Dec 22 2016
         */
        registerUser() {
            // Start loading
            this.$root.$emit('loading', true);

            // Make a request
            let registerReq = request('PUT', config.wrapditUrl + 'account')
                .type('form')
                .send({
                    username: this.username,
                    email: this.email,
                    password: this.password
                });

            // Response / Error for request
            registerReq.then((response) => {
                // End loading
                this.$root.$emit('loading', false);

                // Show the completed form message
                this.formSubmitted = true;

                // Create toast
                let toastMessage = 'Account created';
                this.$root.$emit('new-toast', toastMessage);

            }).catch((error) => {
                // End loading
                this.$root.$emit('loading', false);

                // Init toast message
                let toastMessage;

                // If there was a response message
                if (error.response != null) {
                    toastMessage = 'Unable to register account';
                }

                // Else the error was a connection one
                else {
                    toastMessage = 'Unable to connect to server';
                }

                // Create error toast
                this.$root.$emit('new-toast', toastMessage);
            });
        },

        /**
         * @desc This method will validate the username used.
         * @since Dec 21 2016
         */
        validateUsername() {
            // If the username is not and empty string or whitespace
            if (this.username !== null || this.username !== '') {
                // Start loading
                this.$root.$emit('loading', true);

                // Make a request to check username availability
                let usernameReq = request('GET', config.wrapditUrl + 'account')
                    .query({ username: this.username });

                // Response / Error for request
                usernameReq.then((response) => {
                    // End loading
                    this.$root.$emit('loading', false);

                    // Set the valid state to true
                    this.usernameValid = true;

                }).catch((error) => {
                    // End loading
                    this.$root.$emit('loading', false);

                    // If there is an error response
                    if (error.response != null) {
                        // Set username error message
                        this.usernameErrorMsg = 'Username has already been taken';
                    }

                    // Else the error is connection based
                    else {
                        this.$root.$emit('new-toast', 'Unable to connect to server');
                    }

                    // Set the valid state to false
                    this.usernameValid = false;
                });
            }

            // Else it's invalid
            else {
                this.usernameValid = false;
            }
        },

        /**
         * @desc this method will validate the email address used
         * @since Dec 22 2016
         */
        validateEmail() {
            // If the email matches the required format
            if (this.email.match(/^\S+@\S+$/) !== null) {
                // Start loading
                this.$root.$emit('loading', true);

                // Make a request to check email availability
                let emailReq = request('GET', config.wrapditUrl + 'account')
                    .query({ email: this.email });

                // Response / Error for request
                emailReq.then((response) => {
                    // End loading
                    this.$root.$emit('loading', false);

                    // Set the valid state to true
                    this.emailValid = true;

                }).catch((error) => {
                    // End loading
                    this.$root.$emit('loading', false);

                    // If there is an error response
                    if (error.response != null) {
                        // Set email error message
                        this.emailErrorMsg = 'Email has already been used';
                    }

                    // Else the error is connection based
                    else {
                        this.$root.$emit('new-toast', 'Unable to connect to server');
                    }

                    // Set the valid state to false
                    this.emailValid = false;
                });
            }

            // Else it's invalid
            else {
                this.emailErrorMsg = this.email + ' is not a valid email address';
                this.emailValid = false;
            }
        },

        /**
         * @desc This method will validate the password, make sure it meets
         *      all the requirements.
         * @since Dec 22 2016
         */
        validatePassword() {
            // Check if both passwords are atleast 8 chars
            if ((this.password !== null && this.passwordConf !== null) ||
                (this.password.length >= 8 && this.passwordConf.length >= 8)) {

                // Check if the passwords match
                if (this.password === this.passwordConf) {
                    this.passwordValid = true;
                }

                // Else they are invalid
                else {
                    // Set password error message
                    this.passwordErrorMsg = 'Passwords must match to continue';
                    this.passwordValid = false;
                }
            }

            // Else it's invalid
            else {
                // Set password error message
                this.passwordErrorMsg = 'At least 8 characters';
                this.passwordValid = false;
            }
        },
    },
}

// Exports
export default RegisterForm;
</script>
