/*
    Purpose: This sass file contains the animations for the application.
    Date: Dec 18 2016
*/

// Classes
.toast-enter-active {
    animation: toast-in 0.275s $curve-acceleration;
}

.toast-leave-active {
    animation: toast-out 0.275s $curve-deceleration;
}

.loading-message-enter-active {
    animation: loading-message-in 0.275s $curve-deceleration;
}

.loading-message-leave-active {
    animation: loading-message-out 0.275s $curve-deceleration;
}

// Keyframes
@keyframes toast-in {
    0% {
        transform: translateY(100%) translateX(-50%);
    }

    100% {
        transform: translateY(0%) translateX(-50%);
    }
}

@keyframes toast-out {
    0% {
        transform: translateY(0%) translateX(-50%);
    }

    100% {
        transform: translateY(100%) translateX(-50%);
    }
}

@keyframes loading-message-in {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes loading-message-out {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@keyframes running-loading {
    0% {
        transform: scaleX(1) translateX(-100%);
    }

    50% {
        transform: scaleX(1) translateX(0%);
    }

    75% {
        transform: scaleX(1) translateX(0%);
        animation-timing-function: $curve-sharp;
    }

    100% {
        transform: scaleX(0) translateX(25%);
        transform-origin: right center;
    }
}

@keyframes gradient-flow {
    0% {
        background-position:0% 50%
    }
    50% {
        background-position:100% 50%
    }
    100% {
        background-position:0% 50%
    }
}
