/*
Purpose: This file contains the font family declerations for the needed
    bundled fonts.
Date: Dec 17 2016
*/

@font-face {
	font-family: Roboto;
	src: local('Roboto'),
		local('Roboto-Thin.ttf'),
		url('~app/src/static/fonts/Roboto-Thin.ttf');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: local('Roboto'),
		local('Roboto-ThinItalic.ttf'),
		url('~app/src/static/fonts/Roboto-ThinItalic.ttf');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: Roboto;
	src: local('Roboto'),
		local('Roboto-Light.ttf'),
		url('~app/src/static/fonts/Roboto-Light.ttf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: local('Roboto'),
		local('Roboto-LightItalic.ttf'),
		url('~app/src/static/fonts/Roboto-LightItalic.ttf');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: Roboto;
	src: local('Roboto'),
		local('Roboto-Regular.ttf'),
		url('~app/src/static/fonts/Roboto-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: local('Roboto'),
		local('Roboto-Regular.ttf'),
		url('~app/src/static/fonts/Roboto-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: local('Roboto'),
		local('Roboto-Italic.ttf'),
		url('~app/src/static/fonts/Roboto-Italic.ttf');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: Roboto;
	src: local('Roboto'),
		local('Roboto-Italic.ttf'),
		url('~app/src/static/fonts/Roboto-Italic.ttf');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: Roboto;
	src: local('Roboto'),
		local('Roboto-Medium.ttf'),
		url('~app/src/static/fonts/Roboto-Medium.ttf');
	font-weight: 500;;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: local('Roboto'),
		local('Roboto-MediumItalic.ttf'),
		url('~app/src/static/fonts/Roboto-MediumItalic.ttf');
	font-weight: 500;;
	font-style: italic;
}

@font-face {
	font-family: Roboto;
	src: local('Roboto'),
		local('Roboto-Bold.ttf'),
		url('~app/src/static/fonts/Roboto-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: local('Roboto'),
		local('Roboto-Bold.ttf'),
		url('~app/src/static/fonts/Roboto-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: local('Roboto'),
		local('Roboto-BoldItalic.ttf'),
		url('~app/src/static/fonts/Roboto-BoldItalic.ttf');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: Roboto;
	src: local('Roboto'),
		local('Roboto-BoldItalic.ttf'),
		url('~app/src/static/fonts/Roboto-BoldItalic.ttf');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: Roboto;
	src: local('Roboto'),
		local('Roboto-Black.ttf'),
		url('~app/src/static/fonts/Roboto-Black.ttf');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
    src: local('Roboto'),
		local('Roboto-BlackItalic'),
		url('~app/src/static/fonts/Roboto-BlackItalic.ttf');
	font-weight: 900;
	font-style: italic;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
	local('MaterialIcons-Regular'),
	url('~app/src/static/fonts/MaterialIcons-Regular.ttf');
}
